{% if not bodyClasses %}
  {% set bodyClasses="rpr-internal__page" %}
{% endif %}

{% extends "base.njk" %}

{% block header %}
    <!-- GTM User ID Push -->
    <script>
      window.dataLayer = window.dataLayer || [];
      window.dataLayer.push({
      'event' : 'login',
      'userId' : '{{ user.id }}'
    })
    </script>
  <!-- End GTM User ID Push -->

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','{{ gtm_tag }}');</script>
  <!-- End Google Tag Manager -->
  
  {% include "../shared/_cookie-banner.njk" %}
  {{
    govukHeader({
      homepageUrl: ("app.govUkUrl" | t),
      serviceName: ("app.name" | t),
      serviceUrl: "/admin/dashboard",
      useTudorCrown: true,
      navigation: [
        {
          href: "/admin/dashboard",
          text: ("app.home" | t)
        },
        {
          href: "/admin/professions",
          text: ("professions.admin.heading" | t)
        } if 'editProfession' in permissions else undefined,
        {
          href: "/admin/organisations",
          text: ("organisations.admin.heading" | t )
        } if 'editOrganisation' in permissions else undefined,
        {
          href: "/admin/decisions",
          text: ("decisions.admin.heading" | t )
        } if 'viewDecisionData' in permissions else undefined,
        {
          href: "/admin/users",
          text: ("users.headings.index" | t)
        } if 'editUser' in permissions else undefined,
        {
          href: "/logout",
          text: ("app.logout" | t)
        }
      ]
    })
  }}

  {% set feedbackFormUrl = 'https://forms.office.com/Pages/ResponsePage.aspx?id=BXCsy8EC60O0l-ZJLRst2Hs7TwXbV7BKiF_b_DtnqB1UQ1ZSRDEzRlhDTlM4RUI5U0NHM00wNTQ2NCQlQCN0PWcu' %}
  {% include "../_phase_banner.njk" %}
{% endblock %}
