{% if not bodyClasses %}
  {% set bodyClasses="rpr-internal__page" %}
{% endif %}

{% extends "base.njk" %}

{% block header %}
  {{
    govukHeader({
      homepageUrl: "/admin",
      serviceName: ("app.name" | t),
      serviceUrl: "/admin"
    })
  }}

  {% include "../_phase_banner.njk" %}
{% endblock %}
