{% extends "./base.njk" %}

{% set bodyClasses = "rpr-internal__listing rpr-internal__page" %}

{% set title = ("app.pages.admin.heading" | t) %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-l">{{ organisation }}</span>
      {{ user.name }}
    </h1>
    <h2 class="govuk-heading-m">{{("app.pages.admin.dashboard.subHeading" | t)}}</h2>
    <ul class="govuk-list">

      {% if 'editProfession' in permissions %}
        <li>
          {% if (user.serviceOwner) %}
            <a class="govuk-link" href="/admin/professions">{{ "app.pages.admin.dashboard.editProfessionsCentralAdmin" | t }}</a>
          {% else %}
            <a class="govuk-link" href="/admin/professions">{{ "app.pages.admin.dashboard.editProfessionsRegulators" | t }}</a>
          {% endif %}
        </li>        
      {% endif %}

      {% if 'editOrganisation' in permissions %}
        <li>
          {% if (user.serviceOwner) %}
            <a class="govuk-link" href="/admin/organisations">{{ "app.pages.admin.dashboard.editRegulatorsCentralAdmin" | t }}</a>
          {% else %}
            <a class="govuk-link" href="/admin/organisations">{{ "app.pages.admin.dashboard.editRegulatorsRegulators" | t }}</a>
          {% endif %}
        </li>
      {% endif %}

      {% if 'viewDecisionData' in permissions and environment !== 'production' %}
        <li>
          {% if (user.serviceOwner) %}
            <a class="govuk-link" href="/admin/decisions">{{ "app.pages.admin.dashboard.editDecisionDataCentralAdmin" | t }}</a>
          {% else %}
            <a class="govuk-link" href="/admin/decisions">{{ "app.pages.admin.dashboard.editDecisionDataRegulators" | t }}</a>
          {% endif %}
        </li>
      {% endif %}

      {% if 'editUser' in permissions %}
        <li>
          {% if (user.serviceOwner) %}
            <a class="govuk-link" href="/admin/users">{{ "app.pages.admin.dashboard.manageAccessCentralAdmin" | t }}</a>
          {% else %}
            <a class="govuk-link" href="/admin/users">{{ "app.pages.admin.dashboard.manageAccessRegulators" | t }}</a>
          {% endif %}
        </li>
      {% endif %}

      <li>
        <a class="govuk-link" href="/admin/guidance">{{ "app.pages.admin.dashboard.guidance" | t }}</a>
      </li>

    </ul>
  </div>
</div>
{% endblock %}
