{% extends "./base.njk" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <nav role="navigation" aria-labelledby="subsection-title">
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="/admin/professions">{{ "professions.admin.heading" | t }}</a>
        </li>
        {% if user.serviceOwner %}
          <li>
            <a class="govuk-link" href="/admin/organisations">{{ "organisations.admin.heading" | t }}</a>
          </li>
        {% endif %}
        {% if 'createUser' in permissions %}
          <li>
            <a class="govuk-link" href="/admin/users">{{ "users.headings.index" | t }}</a>
          </li>
        {% endif %}
        <li>
          <a class="govuk-link" href="/logout">{{ "app.logout" | t }}</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ "app.welcome" | t({name: name}) }}</h1>
  </div>
</div>
{% endblock %}
