<p class="govuk-body">
  Email<br>
  <strong class="govuk-!-font-weight-bold">
    <a href="mailto:enquiries@beis.gov.uk" class="govuk-link">enquiries@beis.gov.uk</a>
  </strong>
</p>

<p class="govuk-body">
  Telephone<br>
  <strong class="govuk-!-font-weight-bold">
    <a href="tel:+442072155000" class="govuk-link">020 7215 5000</a>
  </strong>
</p>

<p class="govuk-body">
  Opening times:<br>
  <strong class="govuk-!-font-weight-bold">Monday to Friday, 9am to 4:30pm</strong>
</p>

<p class="govuk-body">
  Closed Easter Sunday, Christmas Day, Boxing Day and New Year's Day.
</p>
