{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<form action="" method="{{ filterFormMethod }}" class="form">
  <div class="{{ filterRowClass }}">
     <div class="{{ filterColumnClass }}">
      {{ govukInput({
        label: {
          text: (filterTextPrefix + ".filter.keywords.label") | t,
          classes: "govuk-label--s",
          isPageHeading: true
        },
        classes: filterKeywordsWidthClass,
        hint: {
          text: (filterTextPrefix + ".filter.keywords.hint") | t
        },
        name: "keywords",
        value: filters.keywords
      }) }}
    </div>

    {% if nationsCheckboxArgs %}
      <div class="{{ filterColumnClass }}">
        {{ govukCheckboxes({
          name: "nations[]",
          classes: filterCheckboxClasses,
          fieldset: {
            legend: {
            text: (filterTextPrefix + ".filter.nations.label") | t,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: (filterTextPrefix + ".filter.nations.hint") | t
          },
          items: nationsCheckboxArgs
        }) }}
      </div>
    {% endif %}

    {% if organisationsCheckboxArgs %}
      <div class="{{ filterColumnClass }}">
        {{ govukCheckboxes({
          name: "organisations[]",
          classes: filterCheckboxClasses,
          fieldset: {
            legend: {
            text: (filterTextPrefix + ".filter.organisations.label") | t,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: (filterTextPrefix + ".filter.organisations.hint") | t
          },
          items: organisationsCheckboxArgs
        }) }}
      </div>
    {% endif %}
      
    {% if industriesCheckboxArgs %}
      <div class="{{ filterColumnClass }}">
        {{ govukCheckboxes({
          name: "industries[]",
          classes: filterCheckboxClasses,
          fieldset: {
            legend: {
            text: (filterTextPrefix + ".filter.industries.label") | t,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: (filterTextPrefix + ".filter.industries.hint") | t
          },
          items: industriesCheckboxArgs
        }) }}
      </div>
    {% endif %}

    {% if changedByCheckboxArgs %}
      <div class="{{ filterColumnClass }}">
        {{ govukCheckboxes({
          name: "changedBy[]",
          classes: filterCheckboxClasses,
          fieldset: {
            legend: {
            text: (filterTextPrefix + ".filter.changedBy.label") | t,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: (filterTextPrefix + ".filter.changedBy.hint") | t
          },
          items: changedByCheckboxArgs
        }) }}
      </div>
    {% endif %}

  </div>

  <div class="{{ filterRowClass }}">
    <div class="{{ filterButtonColumnClass }}">
      {{ govukButton({
        text: (filterTextPrefix + ".filter.button") | t,
        classes: filterButtonClasses
      }) }}
    </div>
  </div>
</form>
