{% set filterCheckboxClasses = 'govuk-checkboxes--small rpr-listing__filter'%}
{% set filterButtonClasses = 'govuk-button--secondary rpr-internal-listing__filter-button'%}
{% set filterRowClass = 'govuk-grid-row' %}
{% set filterButtonColumnClass = 'govuk-grid-column-full' %}

{% set filterColumns = 1 %}
{% if nationsCheckboxItems %}
  {% set filterColumns = filterColumns + 1 %}
{% endif %}
{% if organisationsCheckboxItems %}
  {% set filterColumns = filterColumns + 1 %}
{% endif %}
{% if industriesCheckboxItems %}
  {% set filterColumns = filterColumns + 1 %}
{% endif %}
{% if regulationTypesCheckboxItems %}
  {% set filterColumns = filterColumns + 1 %}
{% endif %}

{% if ((filterColumns / 4) | round(0, "ceil")) < ((filterColumns / 3) | round(0, "ceil")) %}
  {% set filterColumnClass = 'govuk-grid-column-one-quarter' %}
  {% set filterKeywordsWidthClass = 'govuk-input--width-10' %}
{% else %}
  {% set filterColumnClass = 'govuk-grid-column-one-third' %}
  {% set filterKeywordsWidthClass = '' %}
{% endif %}

<div class="rpr-internal-listing__filters-container">
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary rpr-internal-listing__fitlers-details-summary">
      <span class="govuk-details__summary-text">{{ "professions.admin.showFilters" | t }}</span>
    </summary>
    <div class="govuk-details__text">
        {% include "./_filter.njk" %}
    </div>
  </details>
</div>
<div class="govuk-!-padding-bottom-6"></div>
