{% if publicationBlockers.length %}
<div>
  <h2 class="govuk-heading-s">{{ "professions.admin.publish.blocked.heading" | t }}</h2>
    <ul class="govuk-list govuk-list--bullet">
      {%for blocker in publicationBlockers %}
        {% if blocker.type === "incomplete-section" %}
          {% set sectionName = (("professions.form.headings." + blocker.section) | t) %}
          <li class="govuk-body-s">{{ "professions.admin.publish.blocked.incompleteSection" | t({section: sectionName}) }}</li>
        {% elif blocker.type === "organisation-not-live" %}
           <li class="govuk-body-s">{{ "professions.admin.publish.blocked.organisationNotLive" | t({organisation: blocker.organisation.name}) }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </b>
</div>
{% endif %}