
<form method="get" novalidate action="/feedback/">
  <div class="govuk-panel">
      <h3>Overall, how would you rate your experience with the Regulated Professions Register service today?</h3>
      <div class="rating">
        <div class="rating-box-new govuk-heading-l">
          <input type="radio" name="satisfaction" id="zero" value="" display="hidden" checked/>
          <label for="zero" class="rating-star-item govuk-visually-hidden">zero</label>
          <input type="radio" name="satisfaction" id="rating-very-disatisfied" value="{{ ("feedback.questions.satisfaction.answers.vdis" | t) }}"/>
          <label for="rating-very-disatisfied" class="rating-star-item"><span class="govuk-visually-hidden">{{ ("feedback.questions.satisfaction.answers.vdis" | t)}}</span></label>
          <input type="radio" name="satisfaction" id="rating-disatisfied" value="{{ ("feedback.questions.satisfaction.answers.dis" | t) }}"/>
          <label for="rating-disatisfied" class="rating-star-item"><span class="govuk-visually-hidden">{{ ("feedback.questions.satisfaction.answers.dis" | t)}}</span></label>
          <input type="radio" name="satisfaction" id="rating-neutral" value="{{ ("feedback.questions.satisfaction.answers.neutral" | t) }}"/>
          <label for="rating-neutral" class="rating-star-item"><span class="govuk-visually-hidden">{{ ("feedback.questions.satisfaction.answers.neutral" | t)}}</span></label>
          <input type="radio" name="satisfaction" id="rating-satisfied" value="{{ ("feedback.questions.satisfaction.answers.sat" | t) }}"/>
          <label for="rating-satisfied" class="rating-star-item"><span class="govuk-visually-hidden">{{ ("feedback.questions.satisfaction.answers.sat" | t)}}</span></label>
          <input type="radio" name="satisfaction" id="rating-very-satisfied" value="{{ ("feedback.questions.satisfaction.answers.vsat" | t) }}"/>
          <label for="rating-very-satisfied" class="rating-star-item"><span class="govuk-visually-hidden">{{ ("feedback.questions.satisfaction.answers.vsat" | t)}}</span></label>
          <div class="flex-break"></div>
          <div id="rating-very-disatisfied-text" class="govuk-body-m">{{ ("feedback.questions.satisfaction.answers.vdis" | t)}}</div>
          <div id="rating-disatisfied-text" class="govuk-body-m">{{ ("feedback.questions.satisfaction.answers.dis" | t)}}</div>
          <div id="rating-neutral-text" class="govuk-body-m">{{ ("feedback.questions.satisfaction.answers.neutral" | t)}}</div>
          <div id="rating-satisfied-text" class="govuk-body-m">{{ ("feedback.questions.satisfaction.answers.sat" | t)}}</div>
          <div id="rating-very-satisfied-text" class="govuk-body-m">{{ ("feedback.questions.satisfaction.answers.vsat" | t)}}</div>
        </div>
        <hr/>
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">Continue
        </button>
      </div>
  </div>
</form>