{% set filterKeywordsWidthClass = 'govuk-input--width-10%' %}
{% set filterCheckboxClasses = 'govuk-checkboxes--small rpr-listing__filter' %}

<div class="rpr-listing__filters-container">
  {% include "./_filter.njk" %}
</div>
<div class="govuk-!-padding-bottom-9"></div>
