{% set filterKeywordsWidthClass = 'govuk-input--width-10%' %}
{% set filterCheckboxClasses = 'govuk-checkboxes--small rpr-listing__filter' %}

<details class="govuk-details rpr-listing__filters-container" data-module="govuk-details" open="open">
  <summary class="govuk-details__summary rpr-listing__filters-details-summary">
    <span class="govuk-details__summary-text">{{ "professions.admin.showFilters" | t }}</span>
  </summary>
  <div class="govuk-details__text rpr-listing__filters-details-text">
    {% include "./_filter.njk" %}
  </div>
</details>
<div class="govuk-!-padding-bottom-9"></div>
