{% extends "base.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            {{ "feedback.sent.title" | t }}
        </h1>

        <p class="govuk-body">
            {{ "feedback.sent.message" | t }}
        </p>
  </div>
{% endblock %}