# Only include the files we need for build/test
!cypress/
!assets/
!script/
!src/
!views/
# Ignore the files in the root directory that we don't need
.node-version
docker-compose.ci.yml
docker-compose.yml
Dockerfile
README.md
node_modules
Brewfile
