# Prevent overwriting the node_modules folder generated at the
# dependencies stage
node_modules/
# These folders are generated at the build stage, so we don't
# need to copy these over
public/
script/
dist/
# These are not required to be copied over, so let's ignore these
# too
.git/
Dockerfile
docker-compose.yml
README.md
doc/
.github/

