{% extends "admin/base.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set title = ("professions.form.captions.publish" | t) %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ title }}</span>
      <h1 class="govuk-heading-l">{{ ('professions.form.headings.publish' | t({professionName: profession.name})) }}</h1>

        <form action="/admin/professions/{{ profession.id }}/versions/{{ profession.versionId }}/publish?_method=PUT" method="post">
          {{
            govukButton({
              text: ('professions.form.button.publishNow' | t),
              classes: "govuk-button",
              id: "publish-button"
            })
          }}
        </form>

    </div>
  </div>

{% endblock %}
