{% extends "admin/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set title = ("organisations.admin.archive.heading" | t) %}
{% set canArchiveOrganisation = not professions.length %}

{% block title %}
  {{ "organisations.admin.archive.heading" | t }}
{% endblock %}

{% block content %}
  <span class="govuk-caption-l">{{ 'organisations.admin.archive.caption' | t }}</span>
  <h1 class="govuk-heading-l">{{ ('organisations.admin.archive.heading' | t({organisationName: organisation.name})) }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if canArchiveOrganisation %}
        <form action="/admin/organisations/{{ organisation.id }}/versions/{{ organisation.versionId }}/archive?_method=DELETE" method="post">
          {{
            govukButton({
              text: ("organisations.admin.button.archive" | t)
            })
          }}
        </form>
      {% else %}
        <h2 class="govuk-heading-m">{{ 'organisations.admin.archive.forbidden' | t }}</h2>
        <ul class="govuk-list govuk-list--bullet">
          {% for profession in professions %}

            <li class="govuk-body-m">{{profession.name}}</li>
          {% endfor %}
        </ul>

        {{
            govukButton({
              text: ("organisations.admin.button.backToRegulator" | t),
              href: backLink
            })
          }}
      {% endif %}
    </div>

  </div>

{% endblock %}