{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
  {{ "app.name" | t }}
  {% if title %}
    | {{ title }}
  {% endif %}
{% endblock %}

{% block header %}
{# on staging, the "environment" var is set to "production". Because of this we need another way to check we're not on staging #}
  {% if (environment === 'production') and (not site_domain.startsWith('staging')) %}
    {% set bannerUrl = ("app.externalUrl" | t) %}
  {% else %}
    {% set bannerUrl = "/" %}
  {% endif %}
  
  {{
    govukHeader({
      homepageUrl: ("app.govUkUrl" | t),
      serviceName: ("app.name" | t),
      serviceUrl:  (bannerUrl)
    })
  }}

  {% set feedbackFormUrl = 'https://forms.office.com/Pages/ResponsePage.aspx?id=BXCsy8EC60O0l-ZJLRst2Hs7TwXbV7BKiF_b_DtnqB1UNFQxV0gxNEhMMzhVNDJVTVpLNzIzWlk5UCQlQCN0PWcu' %}
  {% include "./_phase_banner.njk" %}
{% endblock %}

{% block head %}
  {{ encore_entry_link_tags }}

  {% if environment === 'production' %}
    <script defer data-domain="{{ site_domain }}" src="https://plausible.io/js/script.manual.outbound-links.js"></script>
  {% endif %}

  {% if not disablePlausible %}
    <!-- define the `plausible` function to manually trigger events -->
    <script>
      window.plausible = window.plausible || function () {
        (window.plausible.q = window.plausible.q || []).push(arguments)
      }
    </script>

    <!-- trigger pageview -->
    <script>
      function prepareUrl(params) {
        const url = new URL(location.href)
        const queryParams = new URLSearchParams(location.search)
        let customUrl = url.protocol + "//" + url.hostname + url.pathname
        for (const paramName of params) {
          const paramValues = queryParams.getAll(paramName)
          if (paramValues && paramValues.length > 0 && paramValues[0]) 
            customUrl = customUrl + '/' + paramName + '=' + paramValues.join("&")
        }
        return customUrl
      }
      plausible('pageview', {
        u: prepareUrl([
          "keywords",
          "industries[]",
          "nations[]",
          "regulationTypes[]",
          "years[]",
          "statuses[]",
          "professions[]"
        ])
      })
    </script>
  {% endif %}
  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://frontend.design-system.service.gov.uk/supporting-ie8/#support-internet-explorer-8 #}
  <!--[if IE 8]>
    <link href="/govuk-frontend/all-ie8.css" rel="stylesheet">
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
    <script src="/html5-shiv/html5shiv.js"></script>
  <![endif]-->
{% endblock %}

{% block bodyEnd %}
  {{ encore_entry_script_tags }}
{% endblock %}

{% block footer %}
  {{
    govukFooter({
      meta: {
        items: [
          {
            href: "/privacy-policy",
            text: ("app.privacyPolicy" | t)
          },
          {
            href: "/cookies",
            text: ("app.cookies" | t)
          },
          {
            href: "/accessibility",
            text: ("app.accessibility" | t)
          },
          {
            href: "/disclaimer",
            text: ("app.dataDisclaimer" | t)
          }
        ]
      }
    })
  }}
{% endblock %}
