{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "base.njk" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ "app.service.name" | t }}
      </h1>

      <p class="govuk-body">{{ "app.pages.index.intro" | t }}</p>

      <p class="govuk-body">{{ "app.pages.index.useThisService" | t }}</p>

      <ul class="govuk-list govuk-list--bullet">
        {% for _i, purpose in ("app.pages.index.servicePurposes" | t) %}
          <li>{{ purpose }}</li>
        {% endfor %}
      </ul>

      {{
        govukButton({
          text: ("app.startButton" | t),
          href: "/select-service",
          classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
          isStartButton: true
        })
      }}

      <h2 class="govuk-heading-m">{{ "app.pages.index.otherWays.heading" | t }}</h2>

      <p class="govuk-body">{{ "app.pages.index.otherWays.body" | t }}</p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
