{% extends "base.njk" %}

{% set title = ("app.pages.index.heading" | t) %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      {{ "app.pages.index.intro" | t | safe }}

      <ul class="govuk-list govuk-list--bullet">
        <li>
          {{ "app.pages.index.ifAProfessionIsRegulated.professionalActivities" | t }}
        </li>
        <li>
          {{ "app.pages.index.ifAProfessionIsRegulated.professionalTitle" | t }}
        </li>
      </ul>

      <p class="govuk-body">{{ "app.pages.index.intro2" | t }}</p>

      <p class="govuk-body">{{ "app.pages.index.useThisService.heading" | t }}</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="{{ "app.pages.index.useThisService.checkProfessions.link" | t }}" class="govuk-link">
            {{ "app.pages.index.useThisService.checkProfessions.text" | t }}
          </a>
        </li>
        <li>
          <a href="{{ "app.pages.index.useThisService.findContactDetails.link" | t }}" class="govuk-link">
            {{ "app.pages.index.useThisService.findContactDetails.text" | t }}
          </a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">{{ "app.pages.index.help.heading" | t }}</h2>

      <p class="govuk-body">{{ "app.pages.index.help.body" | t | safe }}</p>

    </div>
  </div>
{% endblock %}
