{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "base.njk" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ "app.pages.index.heading" | t }}
      </h1>

      {% for _i, paragraph in ("app.pages.index.intro" | t) %}
        <p class="govuk-body">{{ paragraph }}</p>
      {% endfor %}

      <p class="govuk-body">{{ "app.pages.index.useThisService.heading" | t }}</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="{{ "app.pages.index.useThisService.checkProfessions.link" | t }}" class="govuk-link">
            {{ "app.pages.index.useThisService.checkProfessions.text" | t }}
          </a>
        </li>
        <li>
          <a href="{{ "app.pages.index.useThisService.findContactDetails.link" | t }}" class="govuk-link">
            {{ "app.pages.index.useThisService.findContactDetails.text" | t }}
          </a>
        </li>
        <li>
          <a href="{{ "app.pages.index.useThisService.viewFigures.link" | t }}" class="govuk-link">
            {{ "app.pages.index.useThisService.viewFigures.text" | t }}
          </a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">{{ "app.pages.index.help.heading" | t }}</h2>

      <p class="govuk-body">{{ "app.pages.index.help.body" | t | safe }}</p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
