{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "base.njk" %}

{% block content %}
  {{
    govukBackLink({
      text: ("app.back" | t),
      href: "/"
    })
  }}

  <form method="get" action="/select-service">
    {{
      govukRadios({
        idPrefix: "service",
        name: "service",
        fieldset: {
          legend: {
            text: ("app.pages.selectService.heading" | t),
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl govuk-!-margin-bottom-6"
          }
        },
        items: [
          {
            value: "professions",
            text: ("app.pages.selectService.options.checkRequirements" | t)
          },
          {
            value: "regulatory-authorities",
            text: ("app.pages.selectService.options.findAuthority" | t)
          },
          {
            divider: ("app.or" | t)
          },
          {
            value: "annual-figures",
            text: ("app.pages.selectService.options.viewFigures" | t)
          }
        ]
      })
    }}

    {{
      govukButton({
        id: "submit-button",
        type: "Submit",
        text: ('app.continue' | t)
      })
    }}

  </form>
{% endblock %}
