{% extends "base.njk" %}

{% block content %}
<h1 class="govuk-heading-l">Check regulated professions</h1>

<p class="govuk-body-m"><a href="/professions/registered-trademark-attorney">Show Registered Trademark Attorney profession</a></p>
<p class="govuk-body-m"><a href="/professions/secondary-school-teacher-in-state-maintained-schools-england">Show Secondary School Teacher in State maintained schools (England) profession</a></p>

<p class="govuk-body-m"><a href="/admin/users/new">Create new user</a></p>
<p class="govuk-body-m"><a href="/admin/professions/add-profession">Add a new profession</a></p>
<p class="govuk-body-m"><a href="/professions/search">Search a new profession</a></p>

<p class="govuk-body-m"><a href="/admin">Admin</a></p>
<p class="govuk-body-m"><a href="/logout">Logout</a></p>

{% endblock %}
