{% extends "../base.njk" %}

{% set title = ("errors.forbidden.heading" | t) %}

{% block content %}
<h1 class="govuk-heading-l">{{ title }}</h1>

<p class="govuk-body">{{ "errors.forbidden.message" | t }}</p>

<p class="govuk-body">{{ "errors.forbidden.resolution" | t | safe}}</p>

<p class="govuk-body">{{ "errors.forbidden.help" | t }}</p>
{% endblock %}
