{% extends "../base.njk" %}
{% set title = ("errors.generic.heading" | t) %}

{% block content %}
<h1 class="govuk-heading-l">{{ title }}</h1>

<p class="govuk-body">{{ "errors.generic.message" | t }}</p>

<p class="govuk-body">{{ "errors.generic.help" | t | safe }}</p>

{% include "../shared/_contact-details.njk" %}
{% endblock %}
