{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block content %}

  <a href="#" class="govuk-back-link">{{ ('app.back' | t) }}</a>

  {% include "../../../shared/_errors.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ ("professions.form.headings.regulatedActivities" | t) }}</h1>

      <form method="post" action="./">

        {{
          govukDetails({
            summaryText: ("professions.form.details.regulatedActivities.summaryText" | t),
            text: ("professions.form.details.regulatedActivities.text" | t)
          })
        }}

        {{
          govukTextarea({
            label: {
              text: ("professions.form.label.regulatedActivities.activities" | t),
              classes: "govuk-label--m",
              isPageHeading: false
            },
            id: "activities",
            name: "activities",
            value: reservedActivities,
            rows: "7"
          })
        }}

        {{
          govukTextarea({
            label: {
              text: ("professions.form.label.regulatedActivities.description" | t),
              classes: "govuk-label--m",
              isPageHeading: false
            },
            id: "description",
            name: "description",
            value: regulationDescription,
            rows: "7"
          })
        }}

        {{
          govukButton({
            id: "submit-button",
            type: "Submit",
            text: ("app.continue" | t)
          })
        }}
      </form>

    </div>
  </div>

{% endblock %}
