{% extends "base.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

  <div class="govuk-width-container">
    <a href="#" class="govuk-back-link">{{ ('app.back' | t) }}</a>

    {% include "../../../shared/_errors.njk" %}

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">{{ ("professions.form.headings.topLevelInformation" | t) }}</h1>

          <form method="post" action="./">
            {{
              govukInput({
                label: {
                  text: ("professions.form.label.topLevelInformation.name" | t),
                  classes: "govuk-label--m",
                  isPageHeading: false
                },
                id: "name",
                name: "name",
                value: name
              })
            }}

            {{
              govukCheckboxes({
                id: "nations",
                name: "nations[]",
                fieldset: {
                  legend: {
                    text: ("professions.form.label.topLevelInformation.nations" | t),
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                hint: {
                  text: ("professions.form.checkboxes.hint" | t)
                },
                items: nationsCheckboxArgs
              })
            }}

            {{
              govukCheckboxes({
                id: "industries",
                name: "industries[]",
                fieldset: {
                  legend: {
                  text: ("professions.form.label.topLevelInformation.industry" | t),
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                hint: {
                  text: ("professions.form.checkboxes.hint" | t)
                },
                items: industriesCheckboxArgs
              })
            }}

            {{
              govukButton({
                id: "submit-button",
                type: "Submit",
                text: ("app.continue" | t)

              })
            }}
          </form>

        </div>
      </div>

    </main>
  </div>

{% endblock %}