{% extends "admin/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set title = ("users.archive.caption" | t) %}

{% block content %}
  <span class="govuk-caption-l">{{ title }}</span>
  <h1 class="govuk-heading-l">{{ ('users.archive.heading' | t({email: email})) }}</h1>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      <form action="/admin/users/{{ id }}?_method=DELETE" method="post">
        {{
          govukButton({
            text: ("users.form.button.archive" | t)
          })
        }}
      </form>
    </div>

  </div>
{% endblock %}
