{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

<span class="govuk-caption-l">{{ profession.organisation.name }}</span>

<h1 class="govuk-heading-xl">{{ profession.name }}</h1>

<h2 class="govuk-heading-m rpr-details__section-title">{{ "professions.show.overview.heading" | t }}</h2>

{% set nationsHtml %}
    {% for nation in nations %}
      <p class="govuk-body-m"> {{ nation }}</p>
    {% endfor %}
{% endset %}

{% set industriesHtml %}
  {% for industry in industries %}
    <p class="govuk-body-m"> {{ industry }}</p>
  {% endfor %}
{% endset %}

{{
  govukSummaryList({
  classes: 'govuk-summary-list--no-border',
  rows: [
    {
      key: {
        text: ("professions.show.overview.nations" | t)
      },
      value: {
        html: nationsHtml
      }
    },
    {
      key: {
        text: ("professions.show.overview.industry" | t)
      },
      value: {
        html: industriesHtml
      }
    }
  ]
}) }}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

<h2 class="govuk-heading-m rpr-details__section-title">{{ "professions.show.bodies.heading" | t }}</h2>

{{ govukSummaryList({
  classes: 'govuk-summary-list--no-border',
  rows: [
    {
      key: {
        text: ("professions.show.bodies.regulatedAuthority" | t)
      },
      value: {
        text: profession.organisation.name
      }
    },
    {
      key: {
        text: ("professions.show.bodies.address" | t)
      },
      value: {
        text: profession.organisation.address
      }
    },
    {
      key: {
        text: ("professions.show.bodies.emailAddress" | t)
      },
      value: {
        text: profession.organisation.email
      }
    },
    {
      key: {
        text: ("professions.show.bodies.url" | t)
      },
      value: {
        text: profession.organisation.url
      }
    },
    {
      key: {
        text: ("professions.show.bodies.phoneNumber" | t)
      },
      value: {
        text: profession.organisation.telephone
      }
    }
  ]
}) }}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-m rpr-details__section-title">{{ "professions.show.regulatedActivities.heading" | t }}</h2>

{{ govukSummaryList({
  classes: 'govuk-summary-list--no-border',
  rows: [
    {
      key: {
        text: ("professions.show.regulatedActivities.reservedActivities" | t)
      },
      value: {
        text: profession.reservedActivities
      }
    },
    {
      key: {
        text: ("professions.show.regulatedActivities.description" | t)
      },
      value: {
        text: profession.description
      }
    }
  ]
}) }}

{% if qualification %}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-m rpr-details__section-title">{{ "professions.show.qualification.heading" | t}}</h2>

{{ govukSummaryList({
  classes: 'govuk-summary-list--no-border',
  rows: [
    {
      key: {
        text: ("professions.show.qualification.level" | t)
      },
      value: {
        text: qualification.level
      }
    },
    {
      key: {
        text: ("professions.show.qualification.methods" | t)
      },
      value: {
        text: qualification.methodToObtainQualification | t
      }
    },
    {
      key: {
        text: ("professions.show.qualification.commonPath" | t)
      },
      value: {
        text: qualification.mostCommonPathToObtainQualification | t
      }
    },
    {
      key: {
        text: ("professions.show.qualification.duration" | t)
      },
      value: {
        text: qualification.duration
      }
    },
    {
      key: {
        text: ("professions.show.qualification.mandatoryExperience" | t)
      },
      value: {
        text: qualification.mandatoryProfessionalExperience | t
      }
    }
  ]
}) }}

{% endif %}

{% if profession.legislation %}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-m rpr-details__section-title">{{ "professions.show.legislation.heading" | t}}</h2>

{{ govukSummaryList({
  classes: 'govuk-summary-list--no-border',
  rows: [
    {
      key: {
        text: ( "professions.show.legislation.nationalLegislation" | t)
      },
      value: {
        text: profession.legislation.name
      }
    },
    {
      key: {
        text: ( "professions.show.legislation.legislationLink" | t)
      },
      value: {
        html: ["<a class=\"govuk-link\" href=\"", (profession.legislation.url | escape), "\">", (profession.legislation.url | escape),  "</a>" ] | join
      }
    }
  ]
}) }}

{% endif %}
