{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

<span class="govuk-caption-l">{{ organisation.name }}</span>

<h1 class="govuk-heading-xl">{{ profession.name }}</h1>

<h2 class="govuk-heading-m rpr-details__section-title">{{ "professions.show.overview.heading" | t }}</h2>

{% set nationsHtml %}
    {% for nation in nations %}
      <p class="govuk-body-m"> {{ nation }}</p>
    {% endfor %}
{% endset %}

{% set industriesHtml %}
  {% for industry in industries %}
    <p class="govuk-body-m"> {{ industry }}</p>
  {% endfor %}
{% endset %}

{{
  govukSummaryList({
  classes: 'govuk-summary-list--no-border',
  rows: [
    {
      key: {
        text: ("professions.show.overview.nations" | t)
      },
      value: {
        html: nationsHtml
      }
    },
    {
      key: {
        text: ("professions.show.overview.industry" | t)
      },
      value: {
        html: industriesHtml
      }
    }
  ]
}) }}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

<h2 class="govuk-heading-m rpr-details__section-title">{{ "professions.show.bodies.heading" | t }}</h2>

{{ govukSummaryList({
  classes: 'govuk-summary-list--no-border',
  rows: [
    {
      key: {
        text: ("professions.show.bodies.regulatedAuthority" | t)
      },
      value: {
        text: organisation.name
      }
    },
    {
      key: {
        text: ("professions.show.bodies.address" | t)
      },
      value: {
        html: organisation.address | multiline
      }
    },
    {
      key: {
        text: ("professions.show.bodies.emailAddress" | t)
      },
      value: {
        html: ["<a class=\"govuk-link\" href=\"mailto:", (organisation.email | escape), "\">", (organisation.email | escape),  "</a>" ] | join
      }
    },
    {
      key: {
        text: ("professions.show.bodies.url" | t)
      },
      value: {
        html: ["<a class=\"govuk-link\" href=\"", (organisation.url | escape), "\">", (organisation.url | escape),  "</a>" ] | join
      }
    },
    {
      key: {
        text: ("professions.show.bodies.phoneNumber" | t)
      },
      value: {
        text: organisation.telephone
      }
    }
  ]
}) }}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div>
  <h2 class="govuk-heading-m rpr-details__section-title">{{ "professions.show.regulatedActivities.heading" | t }}</h2>

  <div>
    <h3 class="govuk-heading-s">{{ "professions.show.regulatedActivities.regulationSummary" | t }}</h3>
    {{ profession.description | multiline('govuk-body') }}
  </div>

  <div>
    <h3 class="govuk-heading-s">{{ "professions.show.regulatedActivities.reservedActivities" | t }}</h3>
    {{ profession.reservedActivities | multiline('govuk-body') }}
  </div>

  {% if profession.protectedTitles %}
    <div>
      <h3 class="govuk-heading-s">{{ "professions.show.regulatedActivities.protectedTitles" | t }}</h3>
      {{ profession.protectedTitles | multiline('govuk-body') }}
    </div>
  {% endif %}

  {% if profession.regulationUrl %}

    {{ govukSummaryList({
      classes: 'govuk-summary-list--no-border',
      rows: [
        {
          key: {
            text: ("professions.show.regulatedActivities.regulationUrl" | t)
          },
          value: {
            html: ["<a class=\"govuk-link\" href=\"", (profession.regulationUrl | escape), "\">", (profession.regulationUrl | escape),  "</a>" ] | join
          }
        }
      ]
    }) }}

  {% endif %}
</div>

{% if qualification %}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-m rpr-details__section-title">{{ "professions.show.qualification.heading" | t}}</h2>

{{ govukSummaryList({
  classes: 'govuk-summary-list--no-border',
  rows: [
    {
      key: {
        text: ("professions.show.qualification.level" | t)
      },
      value: {
        html: qualification.level | multiline
      }
    },
    {
      key: {
        text: ("professions.show.qualification.routesToObtain" | t)
      },
      value: {
        html: qualification.routesToObtain
      }
    },
    {
      key: {
        text: ("professions.show.qualification.mostCommonRouteToObtain" | t)
      },
      value: {
        html: qualification.mostCommonRouteToObtain
      }
    },
    {
      key: {
        text: ("professions.show.qualification.duration" | t)
      },
      value: {
        text: qualification.duration
      }
    },
    {
      key: {
        text: ("professions.show.qualification.mandatoryExperience" | t)
      },
      value: {
        text: qualification.mandatoryProfessionalExperience | t
      }
    }
  ]
}) }}

{% endif %}

{% if profession.legislations %}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-m rpr-details__section-title">{{ "professions.show.legislation.heading" | t}}</h2>

{% for legislation in profession.legislations %}
  {{ govukSummaryList({
    classes: 'govuk-summary-list--no-border',
    rows: [
      {
        key: {
          html: ( "professions.show.legislation.nationalLegislation" | t) + "<span class=\"govuk-visually-hidden\"> " + loop.index + "</span>"
        },
        value: {
          html: legislation.name | multiline
        }
      },
      {
        key: {
          html: ( "professions.show.legislation.legislationLink" | t) + "<span class=\"govuk-visually-hidden\"> " + loop.index + "</span>"
        },
        value: {
          html: ["<a class=\"govuk-link\" href=\"", (legislation.url | escape), "\">", (legislation.url | escape),  "</a>" ] | join
        }
      }
    ]
  }) }}
{% endfor %}


{% endif %}
