{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

<span class="govuk-caption-l">{{ organisation.name }}</span>

<h1 class="govuk-heading-xl">{{ profession.name }}</h1>

{% set industriesHtml %}
  <ul class="govuk-list">
    {% for industry in industries %}
    <li>{{ industry }}</li>
  {% endfor %}
  </ul>
{% endset %}
{{
  govukSummaryList({
  classes: 'govuk-summary-list--no-border',
  rows: [
    {
      key: {
        text: ("professions.show.overview.nations" | t)
      },
      value: {
        html: nations
      }
    } if nations | length > 0 or showEmptyProfessionDetails else undefined,
    {
      key: {
        text: ("professions.show.overview.industry" | t)
      },
      value: {
        html: industriesHtml
      }
    } if nations | length > 0 or showEmptyProfessionDetails else undefined
  ]
}) }}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

<h2 class="govuk-heading-l">{{ "professions.show.bodies.heading" | t }}</h2>

{% for organisation in organisations %}
  <div class="rpr-details__sub-group">
    <h3 class="govuk-heading-m rpr-details__sub-group-title">{{ organisation.name | escape }}</h3>
    {{ govukSummaryList({
      classes: 'govuk-summary-list--no-border',
      rows: [
        {
          key: {
            text: ("professions.show.bodies.address" | t)
          },
          value: {
            html: organisation.address | multiline
          }
        } if (organisation.address or showEmptyProfessionDetails) else undefined,
        {
          key: {
            text: ("professions.show.bodies.emailAddress" | t)
          },
          value: {
            html: organisation.email | email
          }
        } if (organisation.email or showEmptyProfessionDetails) else undefined,
        {
          key: {
            text: ("professions.show.bodies.url" | t)
          },
          value: {
            html: organisation.url | link
          }
        } if (organisation.url or showEmptyProfessionDetails) else undefined,
        {
          key: {
            text: ("professions.show.bodies.phoneNumber" | t)
          },
          value: {
            text: organisation.telephone | telephone
          }
        } if (organisation.telephone or showEmptyProfessionDetails) else undefined
      ]
    }) }}
  </div>
{% endfor %}

{% if profession.description or showEmptyProfessionDetails %}
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div>
    <h2 class="govuk-heading-l">{{ "professions.show.regulatedActivities.heading" | t }}</h2>
    <div>
      <h3 class="govuk-heading-s">{{ "professions.show.regulatedActivities.regulationSummary" | t }}</h3>
      {{ profession.description | multiline('govuk-body') }}
    </div>

    {% if profession.regulationType or showEmptyProfessionDetails %}
      <div>
        <h3 class="govuk-heading-s">{{ "professions.show.regulatedActivities.regulationType" | t }}</h3>
        <p class="govuk-body">{{ (("professions.regulationTypes." + profession.regulationType + ".name") | t) if profession.regulationType else "" }}</p>
      </div>
    {% endif %}

    {% if profession.reservedActivities or showEmptyProfessionDetails %}
      <div>
        <h3 class="govuk-heading-s">{{ "professions.show.regulatedActivities.reservedActivities" | t }}</h3>
        {{ profession.reservedActivities | multiline('govuk-body') }}
      </div>
    {% endif %}

    {% if profession.protectedTitles or showEmptyProfessionDetails %}
      <div>
        <h3 class="govuk-heading-s">{{ "professions.show.regulatedActivities.protectedTitles" | t }}</h3>
        {{ profession.protectedTitles | multiline('govuk-body') }}
      </div>
    {% endif %}

    {% if profession.regulationUrl or showEmptyProfessionDetails %}
      {{ govukSummaryList({
        classes: 'govuk-summary-list--no-border',
        rows: [
          {
            key: {
              text: ("professions.show.regulatedActivities.regulationUrl" | t)
            },
            value: {
              html: profession.regulationUrl | link
            }
          }
        ]
      }) }}
    {% endif %}
  </div>
{% endif %}

{% if qualificationSummaryList %}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-l">{{ "professions.show.qualification.heading" | t}}</h2>

{{ govukSummaryList(qualificationSummaryList) }}

{% endif %}

{% if profession.registrationRequirements or profession.registrationUrl or showEmptyProfessionDetails %}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-l">{{ "professions.show.registration.heading" | t}}</h2>

{{ govukSummaryList({
  classes: 'govuk-summary-list--no-border',
  rows: [
    {
      key: {
        text: "professions.show.registration.registrationRequirements" | t
      },
      value: {
        text: profession.registrationRequirements
      }
    } if (profession.registrationRequirements or showEmptyProfessionDetails) else undefined,
    {
      key: {
        text: "professions.show.registration.registrationUrl" | t
      },
      value: {
        html: profession.registrationUrl | link
      }
    } if (profession.registrationUrl or showEmptyProfessionDetails) else undefined
  ]
}) }}

{% endif %}

{% if (profession.legislations | length) or showEmptyProfessionDetails %}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-l">{{ "professions.show.legislation.heading" | t}}</h2>

{% for legislation in ((profession.legislations | pad(2)) if showEmptyProfessionDetails else profession.legislations) %}
  {% set legislationLocalisationId = "professions.show.legislation.secondNationalLegislation" if (showEmptyProfessionDetails and loop.index > 1) else "professions.show.legislation.nationalLegislation" %}
  {% set legislationLinkLocalisationId = "professions.show.legislation.secondLink" if (showEmptyProfessionDetails and loop.index > 1) else "professions.show.legislation.link" %}

  {{ govukSummaryList({
    classes: 'govuk-summary-list--no-border',
    rows: [
      {
        key: {
          text: legislationLocalisationId | t
        },
        value: {
          html: legislation.name | multiline
        }
      },
      {
        key: {
          text: legislationLinkLocalisationId | t
        },
        value: {
          html: legislation.url | link
        }
      } if (legislation.url or showEmptyProfessionDetails) else undefined
    ]
  }) }}
{% endfor %}

{% endif %}
