{% set bodyClasses = "rpr-details__page" %}
{% extends "base.njk" %}

{% set title = profession.name %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "./_profession-details.njk" %}
    </div>
    <div class="govuk-grid-column-one-third">
    </div>
  </div>

{% endblock %}
