{% extends "base.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block content %}

<div class="govuk-width-container">
  {% if backLink %}
    {{ govukBackLink({
      text: ( "app.back" | t ),
      href: backLink
    }) }}
  {% endif %}

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% include "./_profession-details.njk" %}
      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </main>
</div>

{% endblock %}
