{% extends "base.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <article class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Guidance on decision outcomes and routes       
      </h1>
      <p class="govuk-body">
        This page contains guidance on what data should be entered. Please ensure that you have read and fully understood the guidance
         below before inputting any data. If you have any questions about any of this, please contact the Department for Business 
         and Trade via <a class='govuk-link' href='mailto:RPR@beis.gov.uk'>RPR@beis.gov.uk</a>
      </p>
      <h2 class="govuk-heading-l">
        Decision outcomes
      </h2>
      <ol class="govuk-list">
        <li>
          <h3 class="govuk-heading-m">1. Accepted applicants</h3>
          <p class="govuk-body">
            Applicants are usually 'accepted' as meeting the knowledge, skills and other regulatory requirements to be entitled to 
            practise a profession in the UK for the following two reasons:
          </p>
          <ul class="govuk-list">
            <li>
              <ul class="govuk-list govuk-list--bullet">
                <li><h4 class="govuk-heading-s">Qualifications recognised</h4></li>
              </ul>
              <p class="govuk-body tab">
                This category is for applicants whose existing qualifications or experience are recognised as good enough to join a 
                profession in the UK. There's no need for these candidates to meet any additional conditions or be assessed any further.
              </p>
              <p class="govuk-body tab">
                In some cases acceptance may be automatic.
              </p>
            </li>
            <li>
              <ul class="govuk-list govuk-list--bullet">
                <li><h4 class="govuk-heading-s">Additional conditions met</h4></li>
              </ul>
              <p class="govuk-body tab">
                This category is for applicants who have been asked by a regulator or professional body to meet certain conditions
                 over and above their existing qualifications and/or experience. Conditions might include further assessment, such 
                 as an aptitude test, a professional exam to qualify to join a profession or an adaptation period, or a further qualification.
              </p>
            </li>
          </ul>
        </li>
        <li>
          <h3 class="govuk-heading-m">2. Not accepted applicants</h3>
          <p class="govuk-body">
            Applicants are usually 'not accepted' into a profession in the UK for one of the following three reasons:
          </p>
          <ul class="govuk-list">
            <li>
              <ul class="govuk-list govuk-list--bullet">
                <li><h4 class="govuk-heading-s">Additional conditions not met</h4></li>
              </ul>
              <p class="govuk-body tab">
                This category is for applicants who have been asked to meet certain conditions over and above their existing 
                qualifications and/or experience and failed to do so. Conditions might include further assessment, such as an 
                aptitude test, or an adaptation period.
              </p>
            </li>
            <li>
              <ul class="govuk-list govuk-list--bullet">
                <li><h4 class="govuk-heading-s">Qualifications not recognised</h4></li>
              </ul>
              <p class="govuk-body tab">
                This category is for applicants whose existing qualifications or experience are inadequate, or where a route 
                to recognition does not 	exist.
              </p>
              <p class="govuk-body tab">
                Usually, the only path to recognition for these applicants is to re-qualify as a UK professional.
              </p>
            </li>
            <li>
              <ul class="govuk-list govuk-list--bullet">
                <li><h4 class="govuk-heading-s">Other conditions not met</h4></li>
              </ul>
              <p class="govuk-body tab">
                This category is for applicants who are not eligible to be fully registered in the UK for another reason 
                (such as not having sufficient English language skills, not passing a Disclosure and Barring Service check, 
                or any other reason unrelated to their professional qualification).
              </p>
            </li>
          </ul>
          <p class="govuk-body">Please only record the final decision taken for each application.</p>
        </li>
      </ol>
      <h2 class="govuk-heading-l">
        Country of Qualification
      </h2>
      <p class="govuk-body">
        This refers to the country where the applicant obtained their primary qualification (or majority of their experience 
        if this has been considered through the recognition process), such as the degree required to join the profession, 
        not their nationality or current residency.
      </p>
      <p class="govuk-body">
        The list is taken from the Foreign, Commonwealth and Development Office (FCDO) list of Country Names (also available 
        <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1113038/FCDO-Geographical-Names-Index-Oct2022.csv/preview">at this link</a>), 
        plus each of the nations of the UK. In some cases, this might differ from how the applicant describes it, but please 
        use the closest match available.
      </p>
      <h2 class="govuk-heading-l">
        Routes
      </h2>
      <p class="govuk-body">
        A route is a distinct process that dictates how overseas professionals are recognised in the UK. It may be put in 
        place by a regulator of their own accord or be based on an agreement they have reached with their overseas counterparts 
        (for example, through a mutual recognition agreement).
      </p>
      <p class="govuk-body govuk-!-font-weight-bold">
        If there's only one way for professionals to be recognised
      </p>
      <p class="govuk-body">
        You only need to add one route if all professionals have to do the same thing to become recognised.
      </p>
      <p class="govuk-body govuk-!-font-weight-bold">Example</p>
      <p class="govuk-body">
        For example, the route for all overseas Early Years professionals (childcare providers) is the same everywhere. 
        Regardless of where they qualified outside England, applicants to the Early Years professions in England must 
        provide details of their qualifications and/or experience to the team in the Department for Education, who then 
        assess these against the criteria. You might call this a 'global route'.
      </p>
      <p class="govuk-body govuk-!-font-weight-bold">If there are multiple ways for professionals to be recognised</p>
      <p class="govuk-body">
        For some professions, a regulator or professional body has different legal agreements or processes with certain countries or 
        groups of countries.
      </p>
      <p class="govuk-body">
        You will need to add a distinct route for each of these agreements or processes.
      </p>
      <h4 class="govuk-heading-s">Examples of routes</h4>
      <p class="govuk-body">Routes might include where:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          a memorandum of understanding exists between the regulator or professional body and regulatory bodies in certain countries.
        </li>
        <li>
          professionals from certain countries have to go through a further assessment like an aptitude test
        </li>
        <li>
          you have a general 'global route' or system for individuals from any other country where there is no bespoke agreement or 
          process in place. You might call this a 'global' route.
        </li>
      </ul>
      <h4 class="govuk-heading-s">
        Naming your route
      </h4>
      <p class="govuk-body">
        Aim to keep route names concise, for example 'Swiss route' or 'Rest of world'. If you refer to certain routes on your website or 
        RPR, try to use the same names as these public sources.
      </p>
      <h2 class="govuk-heading-l">
        Note on disclosure control
      </h2>
      <p class="govuk-body">
        The public facing part of the service has some controls applied to avoid disclosing very specific application outcomes. If 
        there are less than three applicants for any combination of route, country of qualification and year, this data will not 
        be displayed. It will still be available to DBT staff.
      </p>
    </article>
  </div>
{% endblock %}
