{% extends "base.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <article class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Guidance on decision outcomes and routes             
      </h1>
      <h2 class="govuk-heading-l">
        Decision outcomes
      </h2>
      <ol class="govuk-list">
        <li>
          <h3 class="govuk-heading-m">1. Accepted applicants</h3>
          <p class="govuk-body">
            Applicants are usually 'accepted' into a profession in the UK for the following two reasons:
          </p>
          <ul class="govuk-list">
            <li>
              <h4 class="govuk-heading-s">Qualifications recognised</h4>
              <p class="govuk-body">
                This category is for applicants whose existing qualifications are recognised as good enough to join a profession in the UK. 
                There's no need for these candidates to meet any additional conditions or be assessed any further.
              </p>
              <p class="govuk-body">
                In some cases acceptance may be automatic.
              </p>
            </li>
            <li>
              <h4 class="govuk-heading-s">Additional conditions met</h4>
              <p class="govuk-body">
                This category is for applicants who have been asked by a regulator or professional body to meet certain conditions over and above their existing qualifications. 
                Conditions might include further assessment, such as an aptitude test or an adaptation period.  
              </p>
            </li>
          </ul>
        </li>
        <li>
          <h3 class="govuk-heading-m">2. Not accepted applicants</h3>
          <p class="govuk-body">
            Applicants are usually 'not accepted' into a profession in the UK for the following two reasons:
          </p>
          <ul class="govuk-list">
            <li>
              <h4 class="govuk-heading-s">Additional conditions not met</h4>
              <p class="govuk-body">
                This category is for applicants who have been asked to meet certain conditions over and above their existing qualifications, and failed to do so. 
                Conditions might include further assessment, such as an aptitude test, or an adaptation period.
              </p>
            </li>
            <li>
              <h4 class="govuk-heading-s">Qualifications not recognised</h4>
              <p class="govuk-body">
                This category is for applicants whose existing qualifications are inadequate, or where a route to recognition does not exist.  
              </p>
              <p class="govuk-body">
                Usually the only path to recognition for these applicants is to re-qualify as a UK professional.
              </p>
            </li>
          </ul>
        </li>
      </ol>
      <h2 class="govuk-heading-l">
        Routes
      </h2>
      <p class="govuk-body">
        A route is a distinct process that dictates how overseas professionals are recognised in the UK. 
        It may be put in place by a regulator of their own accord, or be based on an agreement they have reached with their overseas counterparts (for example, through a mutual recognition agreement). 
      </p>
      <h3 class="govuk-heading-m">
        If there's only one way for professionals to be recognised
      </h3>
      <p class="govuk-body">
        You only need to add one route if all professionals have to do the same thing to become recognised.
      </p>
      <h4 class="govuk-heading-s">Example</h4>
      <p class="govuk-body">
        For example, the route for all overseas Early Years professionals (childcare providers) is the same everywhere. 
        Regardless of where they qualified outside England, applicants to the Early Years professions in England must provide details of their qualifications to the team in the Department for Education, who then assess these against the criteria. 
        You might call this a 'global route'. 
      </p>
      <h3 class="govuk-heading-m">If there are multiple ways for professionals to be recognised</h3>
      <p class="govuk-body">
        For some professions, a regulator or professional body has different legal agreements or processes with certain countries or groups of countries.
      </p>
      <p class="govuk-body">
        You'll need to add a distinct route for each of these agreements or processes.
      </p>
      <h4 class="govuk-heading-s">Examples of routes</h4>
      <p class="govuk-body">Routes might include where:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          there's a memorandum of understanding between the regulator or professional body and regulatory bodies in certain countries
        </li>
        <li>
          professionals from certain countries have to go through further assessment, like an aptitude test
        </li>
        <li>
          there's no agreement or process in place, ie for countries that don't fall into either of the first two routes         
        </li>
      </ul>
      <h3 class="govuk-heading-m">
        Naming your route
      </h3>
      <p class="govuk-body">
        Aim to keep names concise, for example 'Swiss route' or 'Rest of world'. 
        If you refer to certain routes on your website, try to use the same names on the RPR register. 
      </p>
    </article>
  </div>
{% endblock %}
