{% set bodyClasses = "rpr-internal__listing rpr-internal__page" %}
{% extends "admin/base.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set title = ("decisions.admin.dashboard.heading" | t) %}

{% block content %}
  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-l">{{ organisation }}</span>
    {{ title }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="rpr-internal-listing__manage-decisions-container">
        <div class="rpr-internal-listing__manage-decisions-container-left">
          <h2 class="govuk-heading-l">{{ "decisions.admin.dashboard.manageHeading" | t }}</h2>
        </div>
        <div class="rpr-internal-listing__manage-professions-container-right">
          {% if 'uploadDecisionData' in permissions %}
            {{ govukButton({
              text: "decisions.admin.dashboard.addButtonLabel" | t,
              href: "/admin/decisions/new"
            }) }}
          {% endif %}    
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      <span class="govuk-body-s">
        <a class="govuk-link rpr-internal__details-page-file-download-link" href="/admin/decisions/export">{{"decisions.admin.dashboard.download" | t}}</a>
      </span>
      <div class='rpr-internal__table-container'>
        {{ govukTable(decisionDatasetsTable) }}
      </div>
    </div>

  </div>

{% endblock %}
