{% from "govuk/components/button/macro.njk" import govukButton %}

{% set bodyClasses = "rpr-internal__page rpr-details__page rpr-decision-data__table-page" %}
{% extends "admin/base.njk" %}

{% set title = ("decisions.show.heading" | t) %}

{% block content %}
  {% include "../../_messages.njk" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {% include "../../decisions/_decision-tables.njk" %}
    </div>
    <aside class="govuk-grid-column-one-quarter">

      <h2 class="govuk-heading-s" data-status>
        {{ "decisions.admin.dashboard.tableHeading.status" | t }}<br>
        {{ datasetStatus | status }}
      </h2>

      <h2 class="govuk-heading-s" data-cy="last-modified-text">
        {{ "decisions.admin.dashboard.tableHeading.lastModified" | t }}<br>
        <span class="govuk-body" data-cy="last-modified">{{ lastModified }}</span>
      </h2>

      {% if changedBy %}
        <h2 class="govuk-heading-s" data-cy="changed-by-text">
          {{ "decisions.admin.dashboard.tableHeading.changedBy" | t }}<br>
          <span class="govuk-body" data-cy="changed-by-user-name">{{ changedBy.name }}</span><br>
          <span class="govuk-body" data-cy="changed-by-user-email">{{ changedBy.email | email }}</span>
        </h2>
      {% endif %}
      {% if datasetStatus === 'live' %}
        <h2 class="govuk-heading-s" data-cy="currently-published-version-text">
          {{ "decisions.admin.publicFacingLink.heading" | t }}<br>
          <span class="govuk-body" data-cy="currently-published-version">
            <a class="govuk-link" href="/decisions/{{profession.slug}}/{{year}}/?fromInternalPage={{profession.id}}:{{organisation.id}}">{{ "decisions.admin.publicFacingLink.label" | t }}</a>
          </span>
        </h2>
      {% endif %}

      <nav role="navigation" data-cy="actions">
        <ul class="govuk-list">
          {% if 'uploadDecisionData' in permissions %}
            <li>
              {{
                govukButton({
                  text: "decisions.admin.buttons.edit" | t,
                  href: "/admin/decisions/" + profession.id + "/" + organisation.id + "/" + year + "/edit",
                  classes: 'govuk-button--secondary',
                  name: 'publish'
                })
              }}
            </li>
          {% endif %}
          {% if 'submitDecisionData' in permissions and not (datasetStatus === 'submitted') %}
            <li>
              {{
                govukButton({
                  text: "decisions.admin.buttons.submit" | t,
                  href: "/admin/decisions/" + profession.id + "/" + organisation.id + "/" + year + "/submit",
                  name: 'submit'
                })
              }}
            </li>
          {% endif %}
          {% if 'publishDecisionData' in permissions and not (datasetStatus === 'live') %}
            <li>
              {{
                govukButton({
                  text: "decisions.admin.buttons.publish" | t,
                  href: "/admin/decisions/" + profession.id + "/" + organisation.id + "/" + year + "/publish",
                  name: 'publish'
                })
              }}
            </li>
          {% endif %}
          {% if 'downloadDecisionData' in permissions %}
            <li>
              <span class="govuk-body-s">
                <a href="/admin/decisions/{{profession.id}}/{{organisation.id}}/{{year}}/export" class="govuk-link rpr-internal__details-page-file-download-link">{{ "decisions.admin.show.download" | t({profession: profession.name}) }}</a>
              </span>
            </li>
          {% endif %}
        </ul>
      </nav>
    </aside>
  </aside>
</div>

</div>

{% endblock %}