{% extends "base.njk" %}

{% set title = ("organisations.search.heading" | t) %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">

      <p class="govuk-body-m rpr-listing__results-found--mobile">
        {% if (organisations.length === 1) %}
          {{ ("organisations.search.foundSingular" | t({ count: "<span class='govuk-!-font-size-36 govuk-!-font-weight-bold'>" + organisations.length + "</span>" }) | safe) }}
        {% else %}
          {{ ("organisations.search.foundPlural" | t({ count: "<span class='govuk-!-font-size-36 govuk-!-font-weight-bold'>" + organisations.length + "</span>" }) | safe) }}
        {% endif %}
      </p>

      {% set filterTextPrefix = "organisations.search" %}
      {% set emptyFiltersHref = "/regulatory-authorities/search" %}
      {% include "../../shared/_vertical-filter.njk" %}

    </div>

    <div class="govuk-grid-column-two-thirds">

      {% set filterCriteriaTextPrefix = "organisations.search" %}
      {% include "../../shared/_filter-criteria.njk" %}

      <p class="govuk-body-m rpr-listing__results-found--desktop">
        {% if (organisations.length === 1) %}
          {{ ("organisations.search.foundSingular" | t({ count: "<span class='govuk-!-font-size-36 govuk-!-font-weight-bold'>" + organisations.length + "</span>" }) | safe) }}
        {% else %}
          {{ ("organisations.search.foundPlural" | t({ count: "<span class='govuk-!-font-size-36 govuk-!-font-weight-bold'>" + organisations.length + "</span>" }) | safe) }}
        {% endif %}
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      {% for organisation in organisations %}
        <div>
          <h2>
            <a class="govuk-link govuk-heading-m rpr-listing__ra-title" href="/regulatory-authorities/{{ organisation.slug }}">{{ organisation.name }}</a><br>
          </h2>

          {% if not loop.last %}
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
          {% endif %}

        </div>
      {% endfor %}

    </div>
  </div>

{% endblock %}
