{% extends "base.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ "organisations.search.heading" | t }}</h1>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">

      {% set filterTextPrefix = "organisations.search" %}
      {% include "../../shared/_vertical-filter.njk" %}

    </div>

    <div class="govuk-grid-column-two-thirds">

      {% set filterCriteriaTextPrefix = "organisations.search" %}
      {% include "../../shared/_filter-criteria.njk" %}

      <p class="govuk-body-m">
        <span class="govuk-!-font-size-36 govuk-!-font-weight-bold">{{ organisations.length }}</span> {{ ("organisations.search.foundSingular" | t) if (organisations.length === 1) else ("organisations.search.foundPlural" | t) }}
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      {% for organisation in organisations %}
        <div>
          <h2>
            <a class="govuk-link govuk-heading-m rpr-listing__ra-title" href="/regulatory-authorities/{{ organisation.slug }}">{{ organisation.name }}<br>
          </h2>

          {% if not loop.last %}
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
          {% endif %}

        </div>
      {% endfor %}

    </div>
  </div>

{% endblock %}
