Hello {{ name }},

The Department for Business and Trade (DBT) would like to invite you to the beta Regulated Professions Register service.

To confirm your account and choose a new password click this link {{ confirmationLink }}.

If you are having any issues with your account, please contact us by replying to this email.

Thanks

DBT Regulated Professions Register team
