{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if backLink %}
          {{ govukBackLink({
            text: ( "app.back" | t ),
            href: backLink
          }) }}
        {% endif %}

        {% include "../../shared/_errors.njk" %}

        <span class="govuk-caption-xl">{{ "users.form.headings.main" | t }}</span>
        <h1 class="govuk-heading-xl">{{ "users.form.headings.roles" | t }}</h1>

        <form method="post" action="./">

          <input type="hidden" name="change" value="{{ change }}" />

          {% set roleItems = [] %}
          {% for role in roles %}
            {% set translation = "users.form.label." + role %}
            {% set roleItems = (roleItems.push({value: role, text: (translation | t)}), roleItems) %}
          {% endfor %}

          {{ govukCheckboxes({
            id: "roles[]",
            name: "roles[]",
            fieldset: {
              legend: {
                text: ("users.form.label.roles" | t),
                isPageHeading: false,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "Select all that apply."
            },
            items: roleItems
          }) }}

          {{ govukButton({
            text: ('app.continue' | t),
            type: "submit",
            id: "continue-button"
          }) }}
        </form>

      </div>

      <div class="govuk-grid-column-one-third">
      </div>
    </div>

  </main>
</div>

{% endblock %}
