{% extends "admin/base.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set title = ("users.form.headings.personalDetails" | t) %}

{% if name %}
  {% set caption = ("users.form.headings." + action) | t({ name: "- " + name}) %}
{% else %}
  {% set caption = (("users.form.headings." + action) | t) %}
{% endif %}

{% set heading = ("users.form.headings.personalDetails" | t) %}
{% set title =  caption + " | " + heading %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include "../../../shared/_errors.njk" %}

    <span class="govuk-caption-xl">{{ caption }}</span>
    <h1 class="govuk-heading-xl">{{ heading }}</h1>

    <form method="post" action="./">

      <input type="hidden" name="source" value="{{ source }}" />

      <div id="name">
        {{ govukInput({
          label: {
            text: ('users.form.label.name' | t),
            classes: "govuk-label--l"
          },
          hint: {
            text: ('users.form.hint.name' | t)
          },
          id: "name-input",
          name: "name",
          value: name,
          errorMessage: (errors.name | tError)
        }) }}
      </div>

      <div id="email">
        {{ govukInput({
          label: {
            text: ('users.form.label.email' | t),
            classes: "govuk-label--l"
          },
          hint: {
            text: ('users.form.hint.email' | t)
          },
          id: "email-input",
          name: "email",
          value: email,
          errorMessage: (errors.email | tError)
        }) }}
      </div>

      {{ govukButton({
        text: ('app.continue' | t),
        type: "submit",
        id: "continue-button"
      }) }}
    </form>

  </div>

  <div class="govuk-grid-column-one-third">
  </div>
</div>

{% endblock %}
