{% extends "admin/base.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set bodyClasses = "rpr-internal__page" %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {% if slug|length == 0 %}
      {{ "organisations.admin.create.heading" | t }}
    {% else %}
      {{ "organisations.admin.edit.heading" | t({ organisationName: name }) }}
    {% endif %}
  </h1>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      {% include "../../shared/_errors.njk" %}

      {% set targetUrl = ( currentUrl if errors else "/admin/organisations/"+ id +"/versions/" + versionId + "?_method=PUT" ) %}

      <form method="post" action="{{ targetUrl }}">
        {% if slug|length == 0 %}
          {{
            govukInput({
              label: {
                text: ("organisations.admin.form.label.name" | t),
                classes: "govuk-label--m"
              },
              id: "name",
              name: "name",
              value: name
            })
          }}
        {% endif %}

        {{
          govukInput({
            label: {
              text: ("organisations.admin.form.label.alternateName" | t),
              classes: "govuk-label--m"
            },
            id: "alternateName",
            name: "alternateName",
            value: alternateName
          })
        }}

        {{
          govukInput({
            label: {
              text: ("organisations.admin.form.label.url" | t),
              classes: "govuk-label--m"
            },
            id: "url",
            name: "url",
            value: url
          })
        }}

        {{
          govukTextarea({
            label: {
              text: ("organisations.admin.form.label.address" | t),
              classes: "govuk-label--m"
            },
            id: "address",
            name: "address",
            value: address
          })
        }}

        {{
          govukInput({
            label: {
              text: ("organisations.admin.form.label.email" | t),
              classes: "govuk-label--m"
            },
            id: "email",
            name: "email",
            value: email
          })
        }}

        {{
          govukInput({
            label: {
              text: ("organisations.admin.form.label.telephone" | t),
              classes: "govuk-label--m"
            },
            id: "telephone",
            name: "telephone",
            value: telephone
          })
        }}

        {{
          govukButton({
            text: "app.continue" | t
          })
        }}

      </form>
    </div>

  </div>

{% endblock %}
