{% extends "admin/base.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set bodyClasses = "rpr-internal__listing rpr-internal__page" %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ "organisations.admin.heading" | t }}
  </h1>

  {% include "../../_messages.njk" %}

  {% if 'createOrganisation' in permissions %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">
          {{ "organisations.admin.index.add.heading" | t }}
        </h2>

        <p class="govuk-body">{{ "organisations.admin.index.add.body" | t }}</p>

        <form method="post" action="/admin/organisations">
          {{
            govukButton({
              id: "submit-button",
              type: "Submit",
              text: ("organisations.admin.index.add.button" | t)
            })
          }}
        </form>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </div>
    </div>
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">{{ "organisations.admin.manageHeading" | t }} </h2>

      {% set filterTextPrefix = "organisations.admin" %}
      {% include "../../shared/_horizontal-filter.njk" %}
    </div>
  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      {% set filterCriteriaTextPrefix = "organisations.admin" %}
      {% include "../../shared/_filter-criteria.njk" %}

      <div class='rpr-internal__table-container'>
        {{ govukTable(organisationsTable) }}
      </div>
    </div>

  </div>

{% endblock %}
