{% extends "admin/base.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set caption = ("organisations.admin.edit.heading" | t({ organisationName: name })) %}
{% set heading = ("app.headings.checkAnswers" | t) %}

{% set title =  caption + " | " + heading %}

{% block content %}
<span class="govuk-caption-l">{{ caption }}</span>
<h1 class="govuk-heading-xl">{{ heading }}</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      {{ govukSummaryList(summaryList) }}

      <form action="{{ currentUrl }}" method="post">
        <input type="hidden" name="confirm" value="true" />

        {{
          govukButton({
            text: "organisations.admin.button.amend" | t
          })
        }}
      </form>
  </div>
</div>
{% endblock %}
