{% extends "admin/base.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set caption = ("organisations.admin.edit.heading" | t({ organisationName: name })) %}
{% set heading = ("app.headings.checkAnswers" | t) %}

{% set title =  caption + " | " + heading %}

{% block content %}
<span class="govuk-caption-l">{{ caption }}</span>
<h1 class="govuk-heading-xl">{{ heading }}</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      {{ govukSummaryList(summaryList) }}

      <div class="govuk-button-group rpr-internal__buttons-container">
        <form action="{{ currentUrl }}" method="post">
          <input type="hidden" name="confirm" value="true" />
          {{
            govukButton({
              text: "organisations.admin.button.saveAsDraft" | t,
              id: "submit-button",
              classes: "govuk-button--secondary",
              type: "Submit",
              preventDoubleClick: true
            })
          }}
        </form>
        {% if 'publishOrganisation' in permissions %}
          {{
            govukButton({
              text: ("organisations.admin.button.publish" | t),
              classes: "govuk-button",
              id: "publish-button",
              href: "/admin/organisations/" + id + "/versions/" + versionId + "/publish?fromEdit=true"
            })
          }}
        {% endif %}
      </div>
  </div>
</div>
{% endblock %}
