{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set bodyClasses = "rpr-internal__page rpr-details__page" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set professionPagePrefix = "admin/professions"%}
      {% include "../../organisations/shared/_organisation.njk" %}
    </div>
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items rpr-internal__details-page-sidebar" role="complementary">

        <h2 class="govuk-heading-s" data-status>
          {{ "organisations.headings.status" | t }}<br>
          <span class="govuk-body">{{ ("organisations.status." + organisation.status) | t }}</span>
        </h2>

        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list">
            <li>
              {{
                govukButton({
                  text: ("organisations.admin.button.edit" | t),
                  href: "/admin/organisations/" + organisation.id + "/versions/new"
                })
              }}
            </li>
            <li>
              {{
                govukButton({
                  text: ("organisations.admin.button.delete" | t),
                  href: "#",
                  classes: "govuk-button--warning"
                })
              }}
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>

{% endblock %}
