{% extends "admin/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set bodyClasses = "rpr-internal__page rpr-details__page" %}

{% block content %}
  {% include "../../_messages.njk" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set admin = true %}
      {% include "../../organisations/shared/_organisation.njk" %}
    </div>
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items rpr-internal__details-page-sidebar" role="complementary">

        <h2 class="govuk-heading-s" data-status>
          {{ "organisations.headings.status" | t }}<br>
          <span class="govuk-body">{{ ("organisations.status." + organisation.status) | t }}</span>
        </h2>

        <h2 class="govuk-heading-s" data-cy="last-modified-text">
          {{ "organisations.headings.changed.on" | t }}<br>
          <span class="govuk-body" data-cy="last-modified">{{ presenter.lastModified }}</span>
        </h2>

        <h2 class="govuk-heading-s" data-cy="changed-by-text">
          {{ "organisations.headings.changed.by" | t }}<br>
          <span class="govuk-body" data-cy="changed-by-user">{{ presenter.changedBy }}</span>
        </h2>

        {% if organisation.status !== 'archived' %}

          <nav role="navigation" data-cy="actions">
            <ul class="govuk-list">
              {% if organisation.status === 'draft' and 'publishOrganisation' in permissions %}
              <li>
                {{
                  govukButton({
                    text: ("organisations.admin.button.publish" | t),
                    classes: "govuk-button",
                    id: "publish-button",
                    href: "/admin/organisations/" + organisation.id + "/versions/" + organisation.versionId + "/publish"
                  })
                }}
              </li>
              {% endif %}
              {% if 'editOrganisation' in permissions %}
              <li>
                <form method="post" action="/admin/organisations/{{ organisation.id }}/versions">
                  {{ govukButton({
                    id: "submit-button",
                    type: "Submit",
                    classes: "govuk-button--secondary",
                    text: (('organisations.admin.button.edit.' + organisation.status) | t)
                  }) }}
                </form>
              </li>
              {% endif %}
              {% if 'deleteOrganisation' in permissions %}
              <li>
                {{
                  govukButton({
                    text: ("organisations.admin.button.archive" | t),
                    href: "/admin/organisations/" + organisation.id + "/versions/" + organisation.versionId + "/archive",
                    classes: "govuk-button--warning"
                  })
                }}
              </li>
              {% endif %}
            </ul>
          </nav>

        {% endif %}
      </aside>
    </div>
  </div>

{% endblock %}
