{% extends "admin/base.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set heading = ("app.headings.checkAnswers" | t) %}

{% if edit %}
  {% set heading =("professions.form.headings.originalAnswers" | t) %}
{% else %}
  {% set heading =("professions.form.headings.checkAnswers" | t) %}
{% endif %}

{% set title =  captionText + " | " + heading %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ captionText }}</span>
      <h1 class="govuk-heading-l">{{ heading }}</h1>


        <h2 class="govuk-heading-m">{{ ("professions.form.headings.topLevelInformation" | t) }}</h2>

        {{
          govukSummaryList({
            rows: [
              {
                key: {
                  text: ("professions.form.label.topLevelInformation.name" | t)
                },
                value: {
                  text: name
                },
                actions: {
                  items: [
                    {
                      href: "/admin/professions/" + professionId + "/versions/" + versionId + "/top-level-information/edit?change=true",
                      text: ("app.change" | t),
                      visuallyHiddenText: ("professions.form.label.topLevelInformation.name" | t)
                    }
                  ]
                } if 'createProfession' in permissions else undefined
              },
              {
                key: {
                  text: ("professions.form.label.topLevelInformation.regulatedAuthority" | t)
                },
                value: {
                  text: organisation
                },
                actions: {
                  items: [
                    {
                      href: "/admin/professions/" + professionId + "/versions/" + versionId + "/top-level-information/edit?change=true",
                      text: ("app.change" | t),
                      visuallyHiddenText: ("professions.form.label.topLevelInformation.regulatedAuthority" | t)
                    }
                  ]
                } if 'createProfession' in permissions else undefined
              },
              {
                key: {
                  text: ("professions.form.label.topLevelInformation.additionalAuthority" | t)
                },
                value: {
                  text: (additionalOrganisation if (additionalOrganisation|length) else ("app.no" | t))
                },
                actions: {
                  items: [
                    {
                      href: "/admin/professions/" + professionId + "/versions/" + versionId + "/top-level-information/edit?change=true",
                      text: ("app.change" | t),
                      visuallyHiddenText: ("professions.form.label.topLevelInformation.additionalAuthority" | t)
                    }
                  ]
                } if 'createProfession' in permissions else undefined
              }
            ]
          })
        }}

        <h2 class="govuk-heading-m">{{ ("professions.form.headings.scope" | t) }}</h2>

        {% set selectedNationsSummaryListHtml %}
          <ul>
            {% for nation in nations %}
              <li class='govuk-body-m'>{{ nation }}</li>
            {% endfor %}
          </ul>
        {% endset %}

        {% set selectedIndustriesSummaryListHtml %}
          <ul>
            {% for industry in industries %}
              <li class='govuk-body-m'>{{ industry }}</li>
            {% endfor %}
          </ul>
        {% endset %}

        {{
          govukSummaryList({
            rows: [
              {
                key: {
                  text: ("professions.form.label.scope.nations" | t)
                },
                value: {
                  html: selectedNationsSummaryListHtml
                },
                actions: {
                  items: [
                    {
                      href: "/admin/professions/" + professionId + "/versions/" + versionId + "/scope/edit?change=true",
                      text: ("app.change" | t),
                      visuallyHiddenText: ("professions.form.label.scope.nation" | t)
                    }
                  ]
                }
              },
              {
                key: {
                  text: ("professions.form.label.scope.industry" | t)
                },
                value: {
                  html: selectedIndustriesSummaryListHtml
                },
                actions: {
                  items: [
                    {
                      href: "/admin/professions/" + professionId + "/versions/" + versionId + "/scope/edit?change=true",
                      text: ("app.change" | t),
                      visuallyHiddenText: ("professions.form.label.scop.industry" | t)
                    }
                  ]
                }
              }
            ]
          })
        }}

        <h2 class="govuk-heading-m">{{ ("professions.form.headings.regulatedActivities" | t) }}</h2>

        {{
          govukSummaryList({
            rows: [
              {
                key: {
                  text: ("professions.form.label.regulatedActivities.regulationSummary" | t)
                },
                value: {
                  html: regulationSummary | multiline
                },
                actions: {
                  items: [
                    {
                      href: "/admin/professions/" + professionId + "/versions/" + versionId + "/regulated-activities/edit?change=true",
                      text: ("app.change" | t),
                      visuallyHiddenText: ("professions.form.label.regulatedActivities.regulationSummary" | t)
                    }
                  ]
                }
              },
              {
                key: {
                  text: ("professions.form.label.regulatedActivities.reservedActivities" | t)
                },
                value: {
                  html: reservedActivities | multiline
                },
                actions: {
                  items: [
                    {
                      href: "/admin/professions/" + professionId + "/versions/" + versionId + "/regulated-activities/edit?change=true",
                      text: ("app.change" | t),
                      visuallyHiddenText: ("professions.form.label.regulatedActivities.reservedActivities" | t)
                    }
                  ]
                }
              },
              {
                key: {
                  text: ("professions.form.label.regulatedActivities.protectedTitles" | t)
                },
                value: {
                  html: protectedTitles | multiline
                },
                actions: {
                  items: [
                    {
                      href: "/admin/professions/" + professionId + "/versions/" + versionId + "/regulated-activities/edit?change=true",
                      text: ("app.change" | t),
                      visuallyHiddenText: ("professions.form.label.regulatedActivities.protectedTitles" | t)
                    }
                  ]
                }
              },
              {
                key: {
                  text: ("professions.form.label.regulatedActivities.regulationUrl" | t)
                },
                value: {
                  html: regulationUrl | link
                },
                actions: {
                  items: [
                    {
                      href: "/admin/professions/" + professionId + "/versions/" + versionId + "/regulated-activities/edit?change=true",
                      text: ("app.change" | t),
                      visuallyHiddenText: ("professions.form.label.regulatedActivities.regulationUrl" | t)
                    }
                  ]
                }
              }
            ]
          })
        }}

        {% if qualification %}
        <h2 class="govuk-heading-m">{{ ("professions.form.headings.qualifications" | t) }}</h2>

        {{
          govukSummaryList({
            rows: [
              {
                key: {
                  text: ("professions.form.label.qualifications.routesToObtain" | t)
                },
                value: {
                  html: qualification.routesToObtain
                },
                actions: {
                  items: [
                    {
                      href: "/admin/professions/" + professionId + "/versions/" + versionId + "/qualifications/edit?change=true",
                      text: ("app.change" | t),
                      visuallyHiddenText: ("professions.form.label.qualifications.routesToObtain" | t)
                    }
                  ]
                }
              },
              {
                key: {
                  text: ("professions.form.label.qualifications.moreInformationUrl" | t)
                },
                value: {
                  html: qualification.moreInformationUrl
                },
                actions: {
                  items: [
                    {
                      href: "/admin/professions/" + professionId + "/versions/" + versionId + "/qualifications/edit?change=true",
                      text: ("app.change" | t),
                      visuallyHiddenText: ("professions.form.label.qualifications.moreInformationUrl" | t)
                    }
                  ]
                }
              },
              {
                classes: ("govuk-visually-hidden" if isUK else ""),
                key: {
                  text: ("professions.form.label.qualifications.ukRecognition" | t)
                },
                value: {
                  text: qualification.ukRecognition
                },
                actions: {
                  items: [
                    {
                      href: "/admin/professions/" + professionId + "/versions/" + versionId + "/qualifications/edit?change=true",
                      text: ("app.change" | t),
                      visuallyHiddenText: ("professions.form.label.qualifications.ukRecognition" | t)
                    }
                  ]
                }
              },
              {
                classes: ("govuk-visually-hidden" if isUK else ""),
                key: {
                  text: ("professions.form.label.qualifications.ukRecognitionUrl" | t)
                },
                value: {
                   html: qualification.ukRecognitionUrl
                },
                actions: {
                  items: [
                    {
                      href: "/admin/professions/" + professionId + "/versions/" + versionId + "/qualifications/edit?change=true",
                      text: ("app.change" | t),
                      visuallyHiddenText: ("professions.form.label.qualifications.ukRecognitionUrl" | t)
                    }
                  ]
                }
              },
              {
                key: {
                  text: ("professions.form.label.qualifications.otherCountriesRecognition" | t)
                },
                value: {
                  text: qualification.otherCountriesRecognition
                },
                actions: {
                  items: [
                    {
                      href: "/admin/professions/" + professionId + "/versions/" + versionId + "/qualifications/edit?change=true",
                      text: ("app.change" | t),
                      visuallyHiddenText: ("professions.form.label.qualifications.otherCountriesRecognition" | t)
                    }
                  ]
                }
              },
              {
                key: {
                  text: ("professions.form.label.qualifications.otherCountriesRecognitionUrl" | t)
                },
                value: {
                  html: qualification.otherCountriesRecognitionUrl
                },
                actions: {
                  items: [
                    {
                      href: "/admin/professions/" + professionId + "/versions/" + versionId + "/qualifications/edit?change=true",
                      text: ("app.change" | t),
                      visuallyHiddenText: ("professions.form.label.qualifications.otherCountriesRecognitionUrl" | t)
                    }
                  ]
                }
              }
            ]
          })
        }}
        {% endif %}

        <h2 class="govuk-heading-m">{{ ("professions.form.headings.registration" | t) }}</h2>

        {{
          govukSummaryList({
            rows: [
              {
                key: {
                  text: ("professions.form.label.registration.registrationRequirements" | t)
                },
                value: {
                  text: registrationRequirements
                },
                actions: {
                  items: [
                    {
                      href: "/admin/professions/" + professionId + "/versions/" + versionId + "/registration/edit?change=true",
                      text: ("app.change" | t),
                      visuallyHiddenText: ("professions.form.label.registration.registrationRequirements" | t)
                    }
                  ]
                }
              },
              {
                key: {
                  text: ("professions.form.label.registration.registrationUrl" | t)
                },
                value: {
                  html: registrationUrl | link
                },
                actions: {
                  items: [
                    {
                      href: "/admin/professions/" + professionId + "/versions/" + versionId + "/registration/edit?change=true",
                      text: ("app.change" | t),
                      visuallyHiddenText: ("professions.form.label.registration.registrationUrl" | t)
                    }
                  ]
                }
              }
            ]
          })
        }}

        <h2 class="govuk-heading-m">{{ ("professions.form.headings.legislation" | t) }}</h2>

        {% for legislation in legislations | pad(2) %}
          {{
            govukSummaryList({
              rows: [
                {
                  key: {
                    html: (("professions.form.label.legislation.nationalLegislation" | t) if loop.index === 1 else ("professions.form.label.legislation.optionalNationalLegislation" | t)) + "<span class=\"govuk-visually-hidden\"> " + loop.index + "</span>"
                  },
                  value: {
                    text: legislation.name | multiline
                  },
                  actions: {
                    items: [
                      {
                        href: "/admin/professions/" + professionId + "/versions/" + versionId + "/legislation/edit?change=true",
                        text: ("app.change" | t),
                        visuallyHiddenText: ("professions.form.label.legislation.nationalLegislation" | t) + " " + loop.index
                      }
                    ]
                  }
                },
                {
                  key: {
                    html: ("professions.form.label.legislation.link" | t) + "<span class=\"govuk-visually-hidden\"> " + loop.index + "</span>"
                  },
                  value: {
                    html: legislation.url | link
                  },
                  actions: {
                    items: [
                      {
                        href: "/admin/professions/" + professionId + "/versions/" + versionId + "/legislation/edit?change=true",
                        text: ("app.change" | t),
                        visuallyHiddenText: ("professions.form.label.legislation.nationalLegislation" | t) + " " + loop.index
                      }
                    ]
                  }
                }
              ]
            })
          }}
        {% endfor %}

        {% if not edit and not confirmed %}
          <div class="govuk-button-group rpr-internal__buttons-container">
            <form method="post" action="confirmation">
              {{
                govukButton({
                  id: "submit-button",
                  classes: "govuk-button--secondary",
                  type: "Submit",
                  preventDoubleClick: true,
                  text: ("professions.form.button.saveAsDraft" | t)
                })
              }}
            </form>
            {% if 'publishProfession' in permissions %}
              {{
                govukButton({
                  text: ('professions.form.button.publish' | t),
                  classes: "govuk-button",
                  id: "publish-button",
                  href: "/admin/professions/" + professionId + "/versions/" + versionId + "/publish?fromEdit=true"
                })
              }}
            {% endif %}
          </div>
        {% endif %}
    </div>

    <div class="govuk-grid-column-one-third">
      {% if not edit and confirmed %}
        <aside class="app-related-items rpr-internal__details-page-sidebar" role="complementary">
          <ul class="govuk-list">
            <li>
              <form method="post" action="confirmation">
                {{
                  govukButton({
                    id: "submit-button",
                    classes: "govuk-button--secondary",
                    type: "Submit",
                    preventDoubleClick: true,
                    text: ("professions.form.button.saveAsDraft" | t)
                  })
                }}
              </form>
            </li>
            {% if 'publishProfession' in permissions %}
              <li>
                {{
                  govukButton({
                    text: ('professions.form.button.publish' | t),
                    classes: "govuk-button",
                    id: "publish-button",
                    href: "/admin/professions/" + professionId + "/versions/" + versionId + "/publish?fromEdit=true"
                  })
                }}
              </li>
            {% endif %}
          </ul>
        </aside>
      {% endif %}
    </div>
  </div>

{% endblock %}
