{% extends "base.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set bodyClasses = "rpr-internal__page" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if amended %}
        {{
          govukPanel({
            titleText: ("professions.form.headings.amended" | t),
            html: ("professions.form.body.confirmation.panel" | t({name: (name | escape), action: "updated"}))
          })
        }}
      {% else %}
        {{
          govukPanel({
            titleText: ("professions.form.headings.confirmation" | t),
            html: ("professions.form.body.confirmation.panel" | t({name: (name | escape), action: "added"}))
          })
        }}
      {% endif %}

      <p class="govuk-body">{{ ("professions.form.body.confirmation.emailNotification" | t) }}</p>

      <h2 class="govuk-heading-m">{{ ("professions.form.body.confirmation.next" | t) }}</h2>

      <p class="govuk-body">
        <a href="/admin">{{ ("app.backToDashboard" | t) }}</a>
      </p>

    </div>
  </div>

{% endblock %}
