{% extends "base.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set bodyClasses = "rpr-internal__page" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ 'professions.form.captions.edit' | t }}</span>
      <h1 class="govuk-heading-l">{{ ('professions.form.headings.edit' | t({professionName: profession.name})) }}</h1>

      <form method="post" action="/admin/professions/{{ profession.id }}/edit">
        {{
          govukButton({
            id: "submit-button",
            type: "Submit",
            text: ('professions.form.button.edit' | t)
          })
        }}
      </form>

    </div>

    <div class="govuk-grid-column-one-third"></div>
  </div>

{% endblock %}
