{% extends "admin/base.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set title = ("professions.form.headings.legislation" | t) %}

{% block content %}
  {% include "../../shared/_errors.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">{{ captionText }}</span>
      <h1 class="govuk-heading-l">{{ ("professions.form.headings.legislation" | t) }}</h1>

      <form method="post" action="./">
        <input type="hidden" name="change" value="{{ change }}" />

        {{
          govukTextarea({
            label: {
              text: ("professions.form.label.legislation.nationalLegislation" | t),
              classes: "govuk-label--m",
              isPageHeading: false
            },
            hint: {
              text: ("professions.form.label.legislation.nationalLegislationHint" | t)
            },
            id: "nationalLegislation",
            name: "nationalLegislation",
            value: legislation.name,
            errorMessage: errors.nationalLegislation | tError
          })
        }}

        {{
          govukInput({
            label: {
              text: ("professions.form.label.legislation.link" | t),
              classes: "govuk-label--m",
              isPageHeading: false
            },
            hint: {
              text: "professions.form.label.legislation.linkHint" | t
            },
            id: "link",
            name: "link",
            value: legislation.url,
            errorMessage: errors.link | tError
          })
        }}

        {{
          govukTextarea({
            label: {
              text: ("professions.form.label.legislation.secondNationalLegislation" | t),
              classes: "govuk-label--m",
              isPageHeading: false
            },
            hint: {
              text: ("professions.form.label.legislation.secondNationalLegislationHint" | t)
            },
            id: "secondNationalLegislation",
            name: "secondNationalLegislation",
            value: secondLegislation.name,
            errorMessage: errors.secondNationalLegislation | tError
          })
        }}

        {{
          govukInput({
            label: {
              text: ("professions.form.label.legislation.secondLink" | t),
              classes: "govuk-label--m",
              isPageHeading: false
            },
            hint: {
              text: "professions.form.label.legislation.secondLinkHint" | t
            },
            id: "secondLink",
            name: "secondLink",
            value: secondLegislation.url,
            errorMessage: errors.secondLink | tError
          })
        }}

        {{
          govukButton({
            id: "submit-button",
            type: "Submit",
            text: ("app.continue" | t)
          })
        }}
      </form>

    </div>
  </div>

{% endblock %}
