{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set bodyClasses = "rpr-internal__page" %}

{% block content %}

  <a href="{{backLink}}" class="govuk-back-link">{{ ('app.back' | t) }}</a>

  {% include "../../shared/_errors.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">{{ captionText | t }}</span>
      <h1 class="govuk-heading-l">{{ ("professions.form.headings.legislation" | t) }}</h1>

      <form method="post" action="./">

        {{
          govukTextarea({
            label: {
              text: ("professions.form.label.legislation.nationalLegislation" | t),
              classes: "govuk-label--m",
              isPageHeading: false
            },
            id: "nationalLegislation",
            name: "nationalLegislation",
            value: legislation.name,
            errorMessage: errors.nationalLegislation | tError
          })
        }}

        {{
          govukInput({
            label: {
              text: ("professions.form.label.legislation.link" | t),
              classes: "govuk-label--m",
              isPageHeading: false
            },
            id: "link",
            name: "link",
            value: legislation.url,
            errorMessage: errors.link | tError
          })
        }}

        {{
          govukButton({
            id: "submit-button",
            type: "Submit",
            text: ("app.continue" | t)
          })
        }}
      </form>

    </div>
  </div>

{% endblock %}
