{% extends "admin/base.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% set heading = ("professions.form.headings.organisations" | t) %}
{% set title =  captionText + " | " + heading %}

{% block content %}

{% include "../../shared/_errors.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">{{ captionText }}</span>
    <h1 class="govuk-heading-l">{{ heading }}</h1>

    <form method="post" action="./">
      <input type="hidden" name="change" value="{{ change }}" />

      {% for selectArgs in selectArgsArray %}
        {{
          govukSelect({
            label: {
              text: ("professions.form.label.topLevelInformation.regulatedAuthority" | t),
              classes: "govuk-label--m",
              isPageHeading: false
            },
            id: "regulatoryBodies_" + loop.index,
            name: "regulatoryBodies[]",
            items: selectArgs,
            errorMessage: errors.regulatoryBody | tError
          })
        }}
      {% endfor %}

      {{
        govukButton({
          id: "submit-button",
          type: "Submit",
          text: ("app.continue" | t)

        })
      }}
    </form>

  </div>
</div>

{% endblock %}
