{% extends "base.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set bodyClasses = "rpr-internal__page" %}

{% block content %}
  {% include "../../shared/_errors.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">{{ captionText | t }}</span>
      <h1 class="govuk-heading-l">{{ ("professions.form.headings.registration" | t) }}</h1>

      <form method="post" action="./">
        <input type="hidden" name="change" value="{{ change }}" />

        {{
          govukRadios({
            id: "mandatoryRegistration",
            name: "mandatoryRegistration",
            fieldset: {
              legend: {
                text: ("professions.form.label.registration.mandatoryRegistration" | t),
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: ("professions.form.radioButtons.hint" | t)
            },
            items: mandatoryRegistrationRadioButtonArgs,
            errorMessage: errors.mandatoryRegistration | tError
          })
        }}

        {{
          govukInput({
            id: "registrationRequirements",
            name: "registrationRequirements",
            label: {
              text: ("professions.form.label.registration.registrationRequirements" | t),
              classes: "govuk-label--m",
              isPageHeading: false
            },
            value: registrationRequirements
          })
        }}

        {{
          govukInput({
            id: "registrationUrl",
            name: "registrationUrl",
            label: {
              text: ("professions.form.label.registration.registrationUrl" | t),
              classes: "govuk-label--m",
              isPageHeading: false
            },
            value: registrationUrl,
            hint: {
              text: ("professions.form.hint.registration.registrationUrl" | t)
            },
            errorMessage: errors.registrationUrl | tError
          })
        }}

        {{
          govukButton({
            id: "submit-button",
            type: "Submit",
            text: ("app.continue" | t)
          })
        }}
      </form>

    </div>
  </div>

{% endblock %}
