{% extends "admin/base.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set bodyClasses = "rpr-internal__page" %}

{% block content %}
  {% include "../../shared/_errors.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">{{ captionText | t }}</span>
      <h1 class="govuk-heading-l">{{ ("professions.form.headings.regulatedActivities" | t) }}</h1>

      <form method="post" action="./">
        <input type="hidden" name="change" value="{{ change }}" />

        {{
          govukTextarea({
            label: {
              text: ("professions.form.label.regulatedActivities.regulationSummary" | t),
              classes: "govuk-label--m",
              isPageHeading: false
            },
            hint: {
              text: ("professions.form.label.regulatedActivities.regulationSummaryHint" | t)
            },
            id: "regulationSummary",
            name: "regulationSummary",
            value: regulationSummary,
            rows: "7",
            errorMessage: errors.regulationSummary | tError
          })
        }}

        <label class="govuk-label govuk-label--m" for="reservedActivities">{{ "professions.form.label.regulatedActivities.reservedActivities" | t }}</label>
        <div class="govuk-hint">
          {{ "professions.form.label.regulatedActivities.reservedActivitiesHint" | t }}
        </div>

        {{
          govukDetails({
            summaryText: ("professions.form.details.regulatedActivities.summaryText" | t),
            text: ("professions.form.details.regulatedActivities.text" | t),
            classes: "govuk-!-margin-bottom-2"
          })
        }}

        {{
          govukTextarea({
            id: "reservedActivities",
            name: "reservedActivities",
            value: reservedActivities,
            rows: "7",
            errorMessage: errors.reservedActivities | tError
          })
        }}

        {{
          govukTextarea({
            label: {
              text: ("professions.form.label.regulatedActivities.protectedTitles" | t),
              classes: "govuk-label--m",
              isPageHeading: false
            },
            hint: {
              text: ("professions.form.label.regulatedActivities.protectedTitlesHint" | t)
            },
            id: "protectedTitles",
            name: "protectedTitles",
            value: protectedTitles,
            rows: "7",
            errorMessage: errors.protectedTitles | tError
          })
        }}

        {{
          govukInput({
            label: {
              text: ("professions.form.label.regulatedActivities.regulationUrl" | t),
              classes: "govuk-label--m",
              isPageHeading: false
            },
            hint: {
              text: ("professions.form.label.regulatedActivities.regulationUrlHint" | t)
            },
            id: "regulationUrl",
            name: "regulationUrl",
            value: regulationUrl,
            errorMessage: errors.regulationUrl | tError
          })
        }}

        {{
          govukButton({
            id: "submit-button",
            type: "Submit",
            text: ("app.continue" | t)
          })
        }}
      </form>

    </div>
  </div>

{% endblock %}
