{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set bodyClasses = "rpr-internal__page rpr-details__page" %}

{% block content %}
  {% include "../../_messages.njk" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "../../professions/_profession-details.njk" %}
    </div>
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items rpr-internal__details-page-sidebar" role="complementary">
        <h2 class="govuk-heading-s" data-status>
          {{ "professions.admin.status.heading" | t }}<br>
          <span class="govuk-body">{{ ("professions.admin.status." + profession.status) | t }}</span>
        </h2>
        {{ govukButton({
          text: ('professions.admin.editProfession' | t),
          classes: "govuk-button",
          id: "edit-button",
          href: "/admin/professions/" + profession.id + "/versions/edit"
        }) }}
      </aside>
    </div>
  </div>

{% endblock %}
