{% extends "base.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% set title = ("professions.search.heading" | t) %}

{% block content %}
<h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">

      {% set filterTextPrefix = "professions.search" %}
      {% include "../../shared/_vertical-filter.njk" %}

    </div>

    <div class="govuk-grid-column-two-thirds">

      {% set filterCriteriaTextPrefix = "professions.search" %}
      {% include "../../shared/_filter-criteria.njk" %}

      <p class="govuk-body-m">
        {% if (professions.length === 1) %}
          {{ ("professions.search.foundSingular" | t({ count: "<span class='govuk-!-font-size-36 govuk-!-font-weight-bold'>" + professions.length + "</span>" }) | safe) }}
        {% else %}
          {{ ("professions.search.foundPlural" | t({ count: "<span class='govuk-!-font-size-36 govuk-!-font-weight-bold'>" + professions.length + "</span>" }) | safe) }}
        {% endif %}
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      {% if professions | length %}

        {% for profession in professions %}

          {% set industriesHtml %}
            {% for industry in profession.industries %}
              <p class="govuk-body-m">{{ industry }}</p>
            {% endfor %}
          {% endset %}

          {% set organisationsHtml %}
            {% for organisation in profession.organisations %}
              <p class="govuk-body-m">{{ organisation }}</p>
            {% endfor %}
          {% endset %}

          <div>
            <h2>
              <a class="govuk-link govuk-heading-l rpr-listing__profession-title" href="/professions/{{ profession.slug }}">{{ profession.name }}<br>
                <span class="govuk-caption-l">{{ profession.nations }}</span></a>
            </h2>

              {{ govukSummaryList({
                classes: 'govuk-summary-list--no-border rpr-listing__profession-summary-list',
                rows: [
                  {
                    key: {
                      text: ("professions.search.profession.regulators" | t)
                    },
                    value: {
                      html: organisationsHtml
                    }
                  },
                  {
                    key: {
                      text: ("professions.search.profession.industry" | t)
                    },
                    value: {
                      html: industriesHtml
                    }
                  }
                ]
              }) }}

            {% if not loop.last %}
              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            {% endif %}

          </div>

        {% endfor %}

      {% else %}

        <p class="govuk-body">{{ "professions.search.zeroResults.message" | t }}</p>

        <p class="govuk-body">{{ "professions.search.zeroResults.listHeading" | t }}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ "professions.search.zeroResults.differentSpellings" | t }}</li>
          <li>{{ "professions.search.zeroResults.relatedWords" | t }}</li>
          <li>{{ "professions.search.zeroResults.removeFilters" | t }}</li>
          <li>{{ "professions.search.zeroResults.sectorOnly" | t }}</li>
        </ul>

      {% endif %}

    </div>

  </div>

{% endblock %}}
