{% extends "base.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block content %}

{% if backLink %}
  {{ govukBackLink({
    text: ( "app.back" | t ),
    href: backLink
  }) }}
{% endif %}

<h1 class="govuk-heading-xl">{{ "professions-search.heading" | t }}</h1>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">

      <div class="rpr-listing__filters-container">
        <form action="" method="post" class="form">
          {% from "govuk/components/input/macro.njk" import govukInput %}

          {{ govukInput({
            label: {
              text: "professions-search.form.nameFilter.label" | t,
              classes: "govuk-label--s",
              isPageHeading: true
            },
            classes: "govuk-input--width-10",
            hint: {
              text: "professions-search.form.nameFilter.hint" | t
            },
            name: "keywords",
            value: filters.keywords
          }) }}

          {{ govukCheckboxes({
            name: "nations[]",
            classes: "govuk-checkboxes--small rpr-listing__filter",
            fieldset: {
              legend: {
                text: "professions-search.form.nations.label" | t,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "professions-search.form.nations.hint" | t
            },
            items: nationsCheckboxArgs
          }) }}

          {{ govukCheckboxes({
            name: "industries[]",
            classes: "govuk-checkboxes--small rpr-listing__filter",
            fieldset: {
              legend: {
                text: "professions-search.form.industries.label" | t,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: ""
            },
            items: industriesCheckboxArgs
          }) }}

          {{ govukButton({
            text: "professions-search.form.button.filter" | t
          }) }}
        </form>

      </div>

      <div class="govuk-!-padding-bottom-9"></div>

    </div>

    <div class="govuk-grid-column-two-thirds">

      {% if filters.keywords %}
        <p class="govuk-body-m rpr-listing__search-criteria-container"><span class="govuk-!-font-weight-bold">{{ "professions-search.labels.keywords" | t }}</span> <strong class="govuk-tag">{{ filters.keywords }}</strong></p>
      {% endif %}

      {% if filters.nations | length %}
        <p class="govuk-body-m rpr-listing__search-criteria-container"><span class="govuk-!-font-weight-bold">{{ "professions-search.labels.nations" | t }}</span> 
        {% for nation in filters.nations %}
          <strong class="govuk-tag">{{ nation | t }}</strong>
        {% endfor %}
        </p>
      {% endif %}

      {% if filters.industries | length %}
        <p class="govuk-body-m rpr-listing__search-criteria-container"><span class="govuk-!-font-weight-bold">{{ "professions-search.labels.industries" | t }}</span> 
        {% for industry in filters.industries %}
          <strong class="govuk-tag">{{ industry | t }}</strong>
        {% endfor %}
        </p>
      {% endif %}
      
      <p class="govuk-body-m">
        <span class="govuk-!-font-size-36 govuk-!-font-weight-bold">{{ professions.length }}</span> {{ ("professions-search.foundSingular" | t) if (professions.length === 1) else ("professions-search.foundPlural" | t) }}
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      {% for profession in professions %}

        {% set industriesHtml %}
          {% for industry in profession.industries %}
            <p class="govuk-body-m">{{ industry }}</p>
          {% endfor %}
        {% endset %}

        <div class="rpr-listing__profession-container">
          <h2>
            <a class="govuk-link govuk-heading-l rpr-listing__profession-title" href="/professions/{{ profession.slug }}">{{profession.name}}<br>
              <span class="govuk-caption-l">{{ profession.nations }}</span></a>
          </h2>
      
            {{ govukSummaryList({
              classes: 'govuk-summary-list--no-border rpr-listing__profession-summary-list',
              rows: [
                {
                  key: {
                    text: ("professions-search.profession.regulators" | t)
                  },
                  value: {
                    html: "Placeholder regulators"
                  }
                },
                {
                  key: {
                    text: ("professions-search.profession.industry" | t)
                  },
                  value: {
                    html: industriesHtml | safe
                  }
                }
              ]
            }) }}

          {% if not loop.last %}
              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
          {% endif %}

        </div>

      {% endfor %}

    </div>

  </div>

{% endblock %}}
