{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{
  govukSummaryList({
    rows: [
      {
        key: {
          text: ("users.form.label.organisation" | t)
        },
        value: {
          text: ('users.serviceOwnerOrganisation' | t) if serviceOwner else organisation.name
        },
        actions: {
          items: [
            {
              href: "/admin/users/" + id + "/organisation/edit?change=true",
              text: ("app.change" | t),
              visuallyHiddenText: ("users.form.label.organisation" | t)
            }
          ]
        }
      },
      {
        key: {
          text: ("users.form.label.name" | t)
        },
        value: {
          text: name
        },
        actions: {
          items: [
            {
              href: "/admin/users/" + id + "/personal-details/edit?change=true",
              text: ("app.change" | t),
              visuallyHiddenText: ("users.form.label.name" | t)
            }
          ]
        }
      },
      {
        key: {
          text: ("users.form.label.email" | t)
        },
        value: {
          text: email
        },
        actions: {
          items: [
            {
              href: "/admin/users/"+ id + "/personal-details/edit?change=true",
              text: ("app.change" | t),
              visuallyHiddenText: ("users.form.label.email" | t)
            }
          ]
        }
      },
      {
        key: {
          text: ("users.form.label.role" | t)
        },
        value: {
          text: ("users.roles." + role) | t
        },
        actions: {
          items: [
            {
              href: "/admin/users/" + id + "/permissions/edit?change=true",
              text: ("app.change" | t),
              visuallyHiddenText: ("users.form.label.role" | t)
            }
          ]
        }
      }
    ]
  })
}}
