{% extends "admin/base.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% if name %}
  {% set caption = ("users.form.headings." + action) | t({ name: "- " + name}) %}
{% else %}
  {% set caption = (("users.form.headings." + action) | t) %}
{% endif %}

{% set heading = ("users.form.headings.checkAnswers" | t) %}
{% set title =  caption + " | " + heading %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if userAlreadyExists %}

    {{ govukErrorSummary({
      titleText: ("app.errors.heading" | t),
      errorList: [
        {
          text: ("users.form.errors.email.alreadyExists" | t)
        }
      ]
    }) }}

    {% endif %}

    <span class="govuk-caption-xl">{{ caption }}</span>
    <h1 class="govuk-heading-xl">{{ heading }}</h1>

    <h2 class="govuk-heading-m">{{ "users.form.headings.personalDetails" | t }}</h2>

    {% include "./_summary.njk" %}

    <form method="post" action="confirm">
      {{ govukButton({
        text: (("users.form.button." + action) | t),
        preventDoubleClick: true,
        type: "submit",
        id: "submit-button"
      }) }}
    </form>

  </div>

  <div class="govuk-grid-column-one-third">
  </div>
</div>

{% endblock %}
