{% extends "base.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: ("users.headings.done" | t),
      html: ("users.body.panel" | t({email: email}) | safe)
    }) }}

    <p class="govuk-body">{{ "users.body.confirmation" | t  }}</p>

    <h2 class="govuk-heading-m">{{ "users.headings.next" | t  }}</h3>

    <p class="govuk-body"><a href="../">{{ "users.body.backToDashboard" | t }}</a></p>

  </div>

  <div class="govuk-grid-column-one-third">

  </div>
</div>


{% endblock %}
