{% extends "base.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

  {% include "../../_messages.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">{{ "users.headings.index" | t }}</h1>

      {% if 'createUser' in permissions %}
        <h2 class="govuk-heading-l">{{ "users.headings.addNew" | t }}</h2>
        <p class="govuk-body">{{ "users.body.intro" | t }}</p>

        <form action="/admin/users/new/" method="get">
          {{
            govukButton({
              id: "submit-button",
              type: "Submit",
              classes: "govuk-button",
              text: ("users.form.button.add" | t)
            })
          }}
        </form>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      {% endif %}

      <h2 class="govuk-heading-l">{{ "users.headings.manageExisting" | t }}</h2>

      {{
        govukTable({
          firstCellIsHeader: true,
          head: [
            {
              text: "Name"
            },
            {
              text: "Email"
            },
            {
              text: "Actions"
            }

          ],
          rows: rows
        })
      }}
    </div>
  </div>

{% endblock %}
