{% extends "admin/base.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set title = ("users.headings.show" | t) %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ "users.headings.show" | t }}</h1>
    {% set source = "show" %}
    {% include "./_summary.njk" %}
  </div>
  <div class="govuk-grid-column-one-third">
    <aside class="rpr-sidebar rpr-internal__details-page-sidebar" role="complementary">

      <nav role="navigation">

        <ul class="govuk-list">
          {% if 'deleteUser' in permissions %}
            <li>
              {{
                govukButton({
                  href: '/admin/users/' + id + '/archive',
                  classes: "govuk-button--warning",
                  text: ("users.form.button.archive" | t)
                })
              }}
            </li>
          {% endif %}
        </ul>

      </nav>
    </aside>
  </div>
</div>

{% endblock %}
