{% extends "admin/base.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ "users.headings.show" | t }}</h1>
    {% include "./_summary.njk" %}
  </div>
  <div class="govuk-grid-column-one-third">
    <aside class="rpr-sidebar rpr-internal__details-page-sidebar" role="complementary">

      <nav role="navigation" aria-labelledby="subsection-title">

        <ul class="govuk-list">
          {% if 'deleteUser' in permissions %}
            <li>
              <form action="{{ "/admin/users/" + id }}?_method=DELETE" method="post" data-confirm data-confirm-message="{{ ("users.form.delete.confirmMessage" | t) }}">
                <input type="hidden" name="_method" value="DELETE" />
                {{
                  govukButton({
                    id: "submit-button",
                    type: "Submit",
                    classes: "govuk-button--warning",
                    text: ("users.form.button.delete" | t)
                  })
                }}
              </form>
            </li>
          {% endif %}
        </ul>

      </nav>
    </aside>
  </div>
</div>

{% endblock %}
