{% extends "base.njk" %}

{% set title = "Disclaimer about data on the Regulated Professions Register" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>
      <p class="govuk-body">
        The information contained on this website has been provided to us by the
        relevant regulators listed. Information held on this website is
        intended for general information, and as such should only be treated as
        a guide. The Department for Business, Energy and Industrial Strategy
        does not represent that the information is accurate or appropriate for
        any particular circumstances; and furnishes the information on the
        basis that individuals will not rely on any such representations.
        Individuals should take their own steps to verify with regulators the
        information applicable to individual circumstances before taking action
        on the basis of the contents of the database. BEIS does not accept any
        liability for loss suffered in reliance on the contents of the database. 
      </p>
    </div>
  </div>
{% endblock %}
