{% extends "base.njk" %}

{% set title = ("app.pages.data-disclaimer.heading" | t) %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>
      <p class="govuk-body">
        {{ ("app.pages.data-disclaimer.body" | t) }}
      </p>
    </div>
  </div>
{% endblock %}
