{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{
  govukSummaryList({
    rows: [
      {
        key: {
          text: ("users.form.label.name" | t)
        },
        value: {
          text: name
        },
        actions: {
          items: [
            {
              href: "/admin/users/" + id +"/personal-details/edit?change=true",
              text: ("app.change" | t),
              visuallyHiddenText: ("users.form.label.name" | t)
            }
          ]
        }
      },
      {
        key: {
          text: ("users.form.label.email" | t)
        },
        value: {
          text: email
        },
        actions: {
          items: [
            {
              href: "/admin/users/"+ id +"/personal-details/edit?change=true",
              text: ("app.change" | t),
              visuallyHiddenText: ("users.form.label.email" | t)
            }
          ]
        }
      },
      {
        key: {
          text: ("users.form.label.serviceOwner" | t)
        },
        value: {
          text: (("app.boolean." + serviceOwner) | t)
        },
        actions: {
          items: [
            {
              href: "/admin/users/" + id + "/roles/edit?change=true",
              text: ("app.change" | t),
              visuallyHiddenText: ("users.form.label.roles" | t)
            }
          ]
        }
      },
      {
        key: {
          text: ("users.form.label.permissions" | t)
        },
        value: {
          text: (permissionList | safe)
        },
        actions: {
          items: [
            {
              href: "/admin/users/" + id + "/permissions/edit?change=true",
              text: ("app.change" | t),
              visuallyHiddenText: ("users.form.label.permissions" | t)
            }
          ]
        }
      }
    ]
  })
}}
