{% extends "base.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
          text: ("app.back" | t),
          href: "personal-details"
        }) }}

        {% if userAlreadyExists %}

        {{ govukErrorSummary({
          titleText: ("app.errors.heading" | t),
          errorList: [
            {
              text: ("users.form.errors.email.alreadyExists" | t)
            }
          ]
        }) }}

        {% endif %}

        <span class="govuk-caption-xl">{{ "users.form.headings.main" | t }}</span>
        <h1 class="govuk-heading-xl">{{ "users.form.headings.checkAnswers" | t }}</h1>

        <h2 class="govuk-heading-m">{{ "users.form.headings.personalDetails" | t }}</h2>


        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: ("app.labels.name" | t)
              },
              value: {
                text: name
              },
              actions: {
                items: [
                  {
                    href: "personal-details?edit=true",
                    text: ("app.change" | t),
                    visuallyHiddenText: ("app.labels.name" | t)
                  }
                ]
              }
            },
            {
              key: {
                text: ("app.labels.email" | t)
              },
              value: {
                text: email
              },
              actions: {
                items: [
                  {
                    href: "personal-details?edit=true",
                    text: ("app.change" | t),
                    visuallyHiddenText: ("app.labels.email" | t)
                  }
                ]
              }
            }
          ]
        }) }}

        <form method="post" action="confirm">
          {{ govukButton({
            text: ("users.form.button.create" | t),
            preventDoubleClick: true,
            type: "submit",
            id: "submit-button"
          }) }}
        </form>

      </div>

      <div class="govuk-grid-column-one-third">
      </div>
    </div>

  </main>
</div>



{% endblock %}
