{% extends "base.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">
    {% include "../_messages.njk" %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">{{ "users.headings.index" | t }}</h1>
          {{
            govukTable({
              firstCellIsHeader: true,
              head: [
                {
                  text: "Name"
                },
                {
                  text: "Email"
                },
                {
                  html: "<span class='govuk-visually-hidden'>Actions</span>"
                }

              ],
              rows: rows
            })
          }}
      </div>
    </div>

  </main>
</div>

{% endblock %}
