{% extends "base.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">{{ "app.back" | t }}</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">Use this section of the site to add a new user.</p>

        <form method="post" action="new">
          {{ govukButton({
            id: "submit-button",
            type: "Submit",
            text: ("app.start" | t)
          }) }}
        </form>

      </div>

      <div class="govuk-grid-column-one-third">
      </div>
    </div>

  </main>
</div>

{% endblock %}
