{% extends "base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include "../../../shared/_errors.njk" %}

    <span class="govuk-caption-xl">{{ "users.form.headings.main" | t }}</span>
    <h1 class="govuk-heading-xl">{{ "users.form.headings.permissions" | t }}</h1>

    <form method="post" action="./">

      <input type="hidden" name="change" value="{{ change }}" />

      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "serviceOwner",
        fieldset: {
          legend: {
            text: ("users.form.label.serviceOwner" | t),
            isPageHeading: false,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: ("users.form.hint.serviceOwner" | t)
        },
        items: [
          {
            value: 1,
            text: ("app.yes" | t)
          },
          {
            value: 0,
            text: ("app.no" | t)
          }
        ]
      }) }}

      {% set roleItems = [] %}
      {% for role in permissions %}
        {% set translation = "users.form.label." + role %}
        {% set roleItems = (roleItems.push({value: role, text: (translation | t)}), roleItems) %}
      {% endfor %}

      {{ govukCheckboxes({
        id: "permissions[]",
        name: "permissions[]",
        fieldset: {
          legend: {
            text: ("users.form.label.permissions" | t),
            isPageHeading: false,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Select all that apply."
        },
        items: roleItems
      }) }}

      {{ govukButton({
        text: ('app.continue' | t),
        type: "submit",
        id: "continue-button"
      }) }}
    </form>

  </div>

  <div class="govuk-grid-column-one-third">
  </div>
</div>

{% endblock %}
