{% extends "base.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set bodyClasses = "rpr-internal__listing rpr-internal__page" %}

{% block content %}

{% if backLink %}
{{ govukBackLink({
  text: ( "app.back" | t ),
  href: backLink
}) }}
{% endif %}

  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-l">{{ organisation }}</span>
    {{ "professions.admin.heading" | t }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-l">{{ "professions.admin.addHeading" | t }} </h2>
      
      <p class="govuk-body-m">{{ "professions.admin.addText" | t }}</p>
      <form action="/admin/professions/add-profession/" method="get" class="form">
        {{ govukButton({
          text: "professions.admin.addButtonLabel" | t
        }) }}
      </form>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l">{{ "professions.admin.manageHeading" | t }} </h2>

      <div class="rpr-internal-listing__filters-container">

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">{{ "professions.admin.showFilters" | t }}</span>
        </summary>
        <div class="govuk-details__text">
          <form action="" method="get" class="form">

            {% if view === 'overview' %}
              {% set filterGridClass = 'govuk-grid-column-one-quarter' %}
              {% set keywordsWidthClass = 'govuk-input--width-10' %}
            {% else %}
              {% set filterGridClass = 'govuk-grid-column-one-third' %}
              {% set keywordsWidthClass = '' %}
            {% endif %}

            <div class="govuk-grid-row">
              <div class="{{ filterGridClass }}">
                {{ govukInput({
                    label: {
                    text: "professions.admin.form.nameFilter.label" | t,
                    classes: "govuk-label--s",
                    isPageHeading: true
                    },
                    classes: "{{ keywordsWidthClass }}",
                    hint: {
                        text: "professions.admin.form.nameFilter.hint" | t 
                    },
                    name: "keywords",
                    value: filters.keywords
                }) }}
              </div>

              <div class="{{ filterGridClass }}">

                {{ govukCheckboxes({
                    name: "nations[]",
                    classes: "govuk-checkboxes--small rpr-internal-listing__filter",
                    fieldset: {
                    legend: {
                        text: "professions.admin.form.nations.label" | t,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--s"
                    }
                    },
                    hint: {
                    text: "professions.admin.form.nations.hint" | t
                    },
                    items: nationsCheckboxArgs
                }) }}
              </div>

              {% if view === 'overview' %}
                <div class="{{ filterGridClass }}">
                  {{ govukCheckboxes({
                      name: "organisations[]",
                      classes: "govuk-checkboxes--small rpr-internal-listing__filter",
                      fieldset: {
                      legend: {
                          text: "professions.admin.form.organisations.label" | t,
                          isPageHeading: true,
                          classes: "govuk-fieldset__legend--s"
                      }
                      },
                      hint: {
                          text: "professions.admin.form.organisations.hint" | t
                      },
                      items: organisationsCheckboxArgs
                  }) }}
                </div>

                <div class="{{ filterGridClass }}">
                  {{ govukCheckboxes({
                      name: "industries[]",
                      classes: "govuk-checkboxes--small rpr-internal-listing__filter",
                      fieldset: {
                      legend: {
                          text: "professions.admin.form.industries.label" | t,
                          isPageHeading: true,
                          classes: "govuk-fieldset__legend--s"
                      }
                      },
                      hint: {
                          text: "professions.admin.form.industries.hint" | t
                      },
                      items: industriesCheckboxArgs
                  }) }}
                </div>
              {% else %}
                <div class="{{ filterGridClass }}">
                  {{ govukCheckboxes({
                      name: "changedBy[]",
                      classes: "govuk-checkboxes--small rpr-internal-listing__filter",
                      fieldset: {
                      legend: {
                          text: "professions.admin.form.changedBy.label" | t,
                          isPageHeading: true,
                          classes: "govuk-fieldset__legend--s"
                      }
                      },
                      hint: {
                          text: "professions.admin.form.changedBy.hint" | t
                      },
                      items: changedByCheckboxArgs
                  }) }}
                </div>
              {% endif %}

            </div>

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                {{ govukButton({
                  text: "Filter results",
                  classes: "govuk-button--secondary rpr-internal-listing__filter-button"
                }) }}
              </div>
            </div>

          </form>
        </div>
      </details>
      </div>

      <div class="govuk-!-padding-bottom-6"></div>
    </div>
  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      {% if data['profession-keyword'] %}
        <p class="rpr-listing__search-criteria-container"><span class="govuk-!-font-weight-bold">Keywords:</span> <strong class="govuk-tag">{{ data['profession-keyword'] }}</strong></p>
      {% endif %}

      {% if filters.keywords %}
        <p class="govuk-body-m rpr-listing__search-criteria-container"><span class="govuk-!-font-weight-bold">{{ "professions.admin.labels.keywords" | t }}</span> <strong class="govuk-tag">{{ filters.keywords }}</strong></p>
      {% endif %}

      {% if filters.nations | length %}
        <p class="govuk-body-m rpr-listing__search-criteria-container"><span class="govuk-!-font-weight-bold">{{ "professions.admin.labels.nations" | t }}</span> 
        {% for nation in filters.nations %}
          <strong class="govuk-tag">{{ nation | t }}</strong>
        {% endfor %}
        </p>
      {% endif %}

      {% if (filters.organisations | length) and (view === 'overview') %}
        <p class="govuk-body-m rpr-listing__search-criteria-container"><span class="govuk-!-font-weight-bold">{{ "professions.admin.labels.organisations" | t }}</span> 
        {% for organisation in filters.organisations %}
          <strong class="govuk-tag">{{ organisation }}</strong>
        {% endfor %}
        </p>
      {% endif %}

      {% if filters.industries | length %}
        <p class="govuk-body-m rpr-listing__search-criteria-container"><span class="govuk-!-font-weight-bold">{{ "professions.admin.labels.industries" | t }}</span> 
        {% for industry in filters.industries %}
          <strong class="govuk-tag">{{ industry | t }}</strong>
        {% endfor %}
        </p>
      {% endif %}

      {% if filters.changedBy | length %}
        <p class="govuk-body-m rpr-listing__search-criteria-container"><span class="govuk-!-font-weight-bold">{{ "professions.admin.labels.changedBy" | t }}</span> 
        {% for name in filters.changedBy %}
          <strong class="govuk-tag">{{ name | t }}</strong>
        {% endfor %}
        </p>
      {% endif %}

      <p class="govuk-body-m">
        <span class="govuk-!-font-size-36 govuk-!-font-weight-bold">{{ professions.length }}</span> {{ ("professions.admin.foundSingular" | t) if (professions.length === 1) else ("professions.admin.foundPlural" | t) }}
      </p>

      {{ govukTable({
        firstCellIsHeader: true,
        head: headings,
        rows: professions
      }) }}
    </div>

  </div>

{% endblock %}
