{% extends "admin/base.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set title = ("decisions.admin.publication.caption" | t) %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ title }}</span>
      <h1 class="govuk-heading-l">{{ ('decisions.admin.publication.heading' | t )}}</h1>
      <p class="govuk-body">{{ ('decisions.admin.publication.body' | t)}}</p>
      {% include "../_dataset-details.njk" %}
      <form action="/admin/decisions/{{profession.id}}/{{organisation.id}}/{{year}}/publish?_method=PUT" method="post">
        {{
          govukButton({
            text: "decisions.admin.buttons.publish" | t,
            classes: "govuk-button",
            id: 'publish-button'
          })
        }}
      </form>
    </div>
  </div>

{% endblock %}
