{% extends "admin/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set title = ("organisations.admin.publish.caption" | t) %}

{% block content %}
  <span class="govuk-caption-l">{{ title }}</span>
  <h1 class="govuk-heading-l">{{ ('organisations.admin.publish.heading' | t({organisationName: organisation.name})) }}</h1>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      <form action="/admin/organisations/{{ organisation.id }}/versions/{{ organisation.versionId }}/publish?_method=PUT" method="post">
        {{
          govukButton({
            text: ("organisations.admin.button.publish" | t)
          })
        }}
      </form>
    </div>

  </div>

{% endblock %}
